doctype html
html
    head
        title
        link(rel="stylesheet",type="text/css",href="../less/ic-ui-light.css")
        link(rel="stylesheet",type="text/css",href="../less/ic-ui-dark.css")
        link(rel="stylesheet",type="text/css",href="../less/ic-mini.css")
    style.
        div {background: lightgrey; overflow: hidden}
        i {float: left}
    body
        div
            i.ic.ic-add(data-toggle='tooltip', title='', data-original-title='.ic.ic-add')
            i.ic.ic-advanced(data-toggle='tooltip', title='', data-original-title='.ic.ic-advanced')
            i.ic.ic-arrow-drop-down(data-toggle='tooltip', title='', data-original-title='.ic.ic-arrow-drop-down')
            i.ic.ic-batch(data-toggle='tooltip', title='', data-original-title='.ic.ic-batch')
            i.ic.ic-calculator(data-toggle='tooltip', title='', data-original-title='.ic.ic-calculator')
            i.ic.ic-chevron-right(data-toggle='tooltip', title='', data-original-title='.ic.ic-chevron-right')
            i.ic.ic-close(data-toggle='tooltip', title='', data-original-title='.ic.ic-close')
            i.ic.ic-debug(data-toggle='tooltip', title='', data-original-title='.ic.ic-debug')
            i.ic.ic-debugging(data-toggle='tooltip', title='', data-original-title='.ic.ic-debugging')
            i.ic.ic-dimensions(data-toggle='tooltip', title='', data-original-title='.ic.ic-dimensions')
            i.ic.ic-document-1(data-toggle='tooltip', title='', data-original-title='.ic.ic-document-1')
            i.ic.ic-document-2(data-toggle='tooltip', title='', data-original-title='.ic.ic-document-2')
            i.ic.ic-editor(data-toggle='tooltip', title='', data-original-title='.ic.ic-editor')
            i.ic.ic-editor-win(data-toggle='tooltip', title='', data-original-title='.ic.ic-editor-win')
            i.ic.ic-exclamation(data-toggle='tooltip', title='', data-original-title='.ic.ic-exclamation')
            i.ic.ic-expand-more(data-toggle='tooltip', title='', data-original-title='.ic.ic-expand-more')
            i.ic.ic-files(data-toggle='tooltip', title='', data-original-title='.ic.ic-files')
            i.ic.ic-folder(data-toggle='tooltip', title='', data-original-title='.ic.ic-folder')
            i.ic.ic-forum(data-toggle='tooltip', title='', data-original-title='.ic.ic-forum')
            i.ic.ic-gift(data-toggle='tooltip', title='', data-original-title='.ic.ic-gift')
            i.ic.ic-history(data-toggle='tooltip', title='', data-original-title='.ic.ic-history')
            i.ic.ic-imac(data-toggle='tooltip', title='', data-original-title='.ic.ic-imac')
            i.ic.ic-infinity(data-toggle='tooltip', title='', data-original-title='.ic.ic-infinity')
            i.ic.ic-info(data-toggle='tooltip', title='', data-original-title='.ic.ic-info')
            i.ic.ic-ipad(data-toggle='tooltip', title='', data-original-title='.ic.ic-ipad')
            i.ic.ic-iphone(data-toggle='tooltip', title='', data-original-title='.ic.ic-iphone')
            i.ic.ic-layout(data-toggle='tooltip', title='', data-original-title='.ic.ic-layout')
            i.ic.ic-leave(data-toggle='tooltip', title='', data-original-title='.ic.ic-leave')
            i.ic.ic-link(data-toggle='tooltip', title='', data-original-title='.ic.ic-link')
            i.ic.ic-loading(data-toggle='tooltip', title='', data-original-title='.ic.ic-loading')
            i.ic.ic-mail(data-toggle='tooltip', title='', data-original-title='.ic.ic-mail')
            i.ic.ic-markdown(data-toggle='tooltip', title='', data-original-title='.ic.ic-markdown')
            i.ic.ic-media(data-toggle='tooltip', title='', data-original-title='.ic.ic-media')
            i.ic.ic-minus(data-toggle='tooltip', title='', data-original-title='.ic.ic-minus')
            i.ic.ic-nodes(data-toggle='tooltip', title='', data-original-title='.ic.ic-nodes')
            i.ic.ic-pencil(data-toggle='tooltip', title='', data-original-title='.ic.ic-pencil')
            i.ic.ic-play(data-toggle='tooltip', title='', data-original-title='.ic.ic-play')
            i.ic.ic-preset(data-toggle='tooltip', title='', data-original-title='.ic.ic-preset')
            i.ic.ic-preview(data-toggle='tooltip', title='', data-original-title='.ic.ic-preview')
            i.ic.ic-printer(data-toggle='tooltip', title='', data-original-title='.ic.ic-printer')
            i.ic.ic-publish(data-toggle='tooltip', title='', data-original-title='.ic.ic-publish')
            i.ic.ic-question-f(data-toggle='tooltip', title='', data-original-title='.ic.ic-question-f')
            i.ic.ic-question-l(data-toggle='tooltip', title='', data-original-title='.ic.ic-question-l')
            i.ic.ic-redo(data-toggle='tooltip', title='', data-original-title='.ic.ic-redo')
            i.ic.ic-refresh(data-toggle='tooltip', title='', data-original-title='.ic.ic-refresh')
            i.ic.ic-save(data-toggle='tooltip', title='', data-original-title='.ic.ic-save')
            i.ic.ic-search(data-toggle='tooltip', title='', data-original-title='.ic.ic-search')
            i.ic.ic-settings(data-toggle='tooltip', title='', data-original-title='.ic.ic-settings')
            i.ic.ic-share(data-toggle='tooltip', title='', data-original-title='.ic.ic-share')
            i.ic.ic-shortcut(data-toggle='tooltip', title='', data-original-title='.ic.ic-shortcut')
            i.ic.ic-size(data-toggle='tooltip', title='', data-original-title='.ic.ic-size')
            i.ic.ic-technical(data-toggle='tooltip', title='', data-original-title='.ic.ic-technical')
            i.ic.ic-theme(data-toggle='tooltip', title='', data-original-title='.ic.ic-theme')
            i.ic.ic-tips-f(data-toggle='tooltip', title='', data-original-title='.ic.ic-tips-f')
            i.ic.ic-tips-l(data-toggle='tooltip', title='', data-original-title='.ic.ic-tips-l')
            i.ic.ic-trash-f(data-toggle='tooltip', title='', data-original-title='.ic.ic-trash-f')
            i.ic.ic-trash-l(data-toggle='tooltip', title='', data-original-title='.ic.ic-trash-l')
            i.ic.ic-undo(data-toggle='tooltip', title='', data-original-title='.ic.ic-undo')
            i.ic.ic-video-tutoria(data-toggle='tooltip', title='', data-original-title='.ic.ic-video-tutoria')
        div
            i.ic-d.ic-disconnect(data-toggle='tooltip', title='', data-original-title='.ic-d.ic-disconnect')
            i.ic-d.ic-duplicate(data-toggle='tooltip', title='', data-original-title='.ic-d.ic-duplicate')
            i.ic-d.ic-grid(data-toggle='tooltip', title='', data-original-title='.ic-d.ic-grid')
            i.ic-d.ic-search(data-toggle='tooltip', title='', data-original-title='.ic-d.ic-search')
            i.ic-d.ic-show-all(data-toggle='tooltip', title='', data-original-title='.ic-d.ic-show-all')
            i.ic-d.ic-trash(data-toggle='tooltip', title='', data-original-title='.ic-d.ic-trash')
            i.ic-d.ic-zoom-in(data-toggle='tooltip', title='', data-original-title='.ic-d.ic-zoom-in')
            i.ic-d.ic-zoom-out(data-toggle='tooltip', title='', data-original-title='.ic-d.ic-zoom-out')
        div
            i.ic-m.ic-drag(data-toggle='tooltip', title='', data-original-title='.ic-m.ic-drag')
            i.ic-m.ic-location(data-toggle='tooltip', title='', data-original-title='.ic-m.ic-location')
            i.ic-m.ic-prompt(data-toggle='tooltip', title='', data-original-title='.ic-m.ic-prompt')
            i.ic-m.ic-question(data-toggle='tooltip', title='', data-original-title='.ic-m.ic-question')
            i.ic-m.ic-trash(data-toggle='tooltip', title='', data-original-title='.ic-m.ic-trash')
            i.ic-m.ic-warning(data-toggle='tooltip', title='', data-original-title='.ic-m.ic-warning')