
<div id="sidebar">
  <div class="tab-panels">
    <ul class="tabs">
      <li><a value="Tooltip" rel="sidebar_panel1" class="tab activ v-tips"><i class="ic ic-editor"></i></a></li>
      <li><a value="Tooltip" rel="sidebar_panel2" class="tab v-tips"><i class="ic ic-advanced"></i></a></li>
    </ul>
    <div class="leading-section">
      <div><i></i><span>选择题</span>
        <div class="color-box"></div>
      </div>
      <div><span>题目编号</span></div>
      <input type="text" placeholder="题目编号"/>
      <div><i class="ic-m ic-location"></i><span>common target</span></div>
    </div>
    <div id="sidebar_panel1" class="panel activ">
      <div class="kit-section-group">
        <div id="nothing-selected" class="kit-position">
          <div><i></i><span>请在画布上选择一个节点来激活这个面板对其进行编辑</span></div>
        </div>
      </div>
    </div>
    <div id="sidebar_panel2" class="panel">
      <div class="kit-section-group">
        <div id="nothing-selected" class="kit-position">
          <div><i></i><span>请在画布上选择一个节点来激活这个面板对其进行编辑</span></div>
        </div>
      </div>
    </div>
  </div>
</div>