
<div id="toolbar"><a value="Tooltip" name="0" ng-click="handleToggleNodeBoxClick();" class="small_tab h-tips"><i class="ic ic-nodes"></i></a><a value="Tooltip" name="1" class="small_tab h-tips"><i class="ic ic-media"></i></a><a value="Tooltip" name="2" class="small_tab h-tips"><i class="ic ic-preview"></i></a><a value="Tooltip" name="3" class="small_tab h-tips"><i class="ic ic-gift"></i></a><a value="Tooltip" name="4" class="small_tab h-tips"><i class="ic ic-printer"></i></a><a class="additional"><i class="ic ic-tips-f"></i></a>
  <div class="dropdown-item"><a class="drop-but"><i class="ic ic-question-f"></i></a>
    <!--include ../popup/help-center.jade-->
    <div data-help-center="todo"></div>
  </div>
</div>