.select-itme
    .select
        i.ic.ic-expand-more
        span placeholder
    .sel-options.nano
        ul.nano-content
            li 超能陆战队里面的大白超能陆战队里面的大白超能陆战队里面的大白超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白
            li 超能陆战队里面的大白