
@{
ViewBag.Title = "FindPasswordByEmail";
Layout = null;
}<!DOCTYPE html>
<html>
  <head>
        <title>&#24039;&#24605; choice form</title>
        <meta http-equiv="Content-Type" charset="utf-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="Dashboard" content="Survey-Best">
        <link href="~/Css/normalize.css" rel="stylesheet">
        <link href="~/Css/db-index.css" rel="stylesheet">
        <script src="~/Script/lib/jquery.min.js"></script>
        <script src="~/Script/lib/fastclick.js"></script>
        <script src="~/Script/lib/modernizr.js"></script>
        <script src="~/Script/lib/angular.min.js"></script>
        <script src="~/Script/lib/angular-ui-router.js"></script>
        <script src="http://localhost:7099/common/script/windowAlert-custom.js"></script>
        <script src="http://localhost:7099/common/script/loading.js"></script>
        <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101221559" data-redirecturi="http://www.csvfx.com/Home/QQLogin" charset="utf-8"></script>@if (System.Configuration.ConfigurationManager.AppSettings.Get("isPublic") == "0") { 
        <script src="http://localhost:7099/db-app/script/SignIn/SignIn.js"></script>}else{
        <script src="~/ReleaseJS/zySI.min.js"></script>}
        <link rel="shortcut icon" type="image/x-icon" href="/Images/favicon.ico">
        <link rel="apple-touch-icon" href="/Images/cf.svg">
  </head>
  <body ng-app="myapp" ng-controller="SetPwCtrl" class="member-bg">
    <div id="LoadingDiv" style="display:none" class="loading">
      <div class="lot lot1"></div>
      <div class="lot lot2"></div>
      <div class="lot lot3"></div>
      <div class="lot lot4"></div>
    </div><input type="hidden" value="@Request.QueryString["email"]" id="Email">
    <input type="hidden" value="@Request.QueryString["resetcode"]" id="RandomCode">
    <div class="center-wrapper">
      <div id="Login" class="main-container">
        <div id="logo"><span onclick="turnToIndex()">choice form</span><span>beta</span></div>
        <h2>&#37325;&#32622;&#23494;&#30721;</h2>
        <form name="SetPwForm">
          <div class="input-sgin">
            <input id="name" type="password" name="password" placeholder="&#26032;&#23494;&#30721;" ng-model="SetPw.Password" required="" ng-minlength="6" maxlength="12" ng-change="ValidPwdConsistency(SetPwForm.$valid,SetPwForm.password.$dirty)">
            <mark style="display:block" ng-show="SetPwForm.password.$dirty &amp;&amp; SetPwForm.password.$invalid &amp;&amp; SetPwForm.password.$error.required" class="form-message">&#35831;&#36755;&#20837;&#26032;&#23494;&#30721;</mark>
            <mark style="display:block;" ng-show="SetPwForm.password.$dirty &amp;&amp; SetPwForm.password.$invalid &amp;&amp; SetPwForm.password.$error.minlength" class="form-message">&#23494;&#30721;&#19981;&#33021;&#23567;&#20110;6&#20010;&#23383;&#31526;</mark>
          </div>
          <div class="input-sgin">
            <input type="password" name="confirmpassword" placeholder="&#30830;&#35748;&#23494;&#30721;" ng-model="SetPw.ConfirmPassword" required="" ng-minlength="6" maxlength="12" ng-change="ValidPwdConsistency(SetPwForm.$valid,SetPwForm.confirmpassword.$dirty)">
            <mark style="display:block" ng-show="SetPwForm.confirmpassword.$dirty &amp;&amp; SetPwForm.confirmpassword.$invalid &amp;&amp; SetPwForm.confirmpassword.$error.required" class="form-message">&#35831;&#30830;&#35748;&#26032;&#23494;&#30721;</mark>
            <mark style="display:block" ng-show="SetPwForm.confirmpassword.$dirty &amp;&amp; SetPwForm.confirmpassword.$invalid &amp;&amp; SetPwForm.confirmpassword.$error.minlength" class="form-message">&#23494;&#30721;&#19981;&#33021;&#23567;&#20110;6&#20010;&#23383;&#31526;</mark>
            <mark style="display:block" ng-show="SetPw.SomeFlag" class="form-message">&#20004;&#27425;&#36755;&#20837;&#30340;&#23494;&#30721;&#19981;&#19968;&#33268;&#12290;</mark>
          </div>
        </form>
        <button ng-click="setPassword()" ng-disabled="!SetPw.SetSubmitFlag" class="button blue"><span>&#35774;&#32622;&#23494;&#30721;</span></button>
      </div>
    </div>
  </body>
</html>