doctype html
html
    head
        include layout/head.jade
        +title ('新建问卷')
    body
        include layout/loading
        .main-wrapper
            include layout/nav
            // 导航菜单
            header.page-header#sample-page
                .w-container
                    h1 新建调查问卷
                    button#create-surveys.button.blue.right-ic
                        span 开始设计问卷
                        i.ic.ic-right-2w
                    button#create-surveys.button.gray
                        span 取 消
            .w-container#sample-w
                .too-small-alert
                    p 您的浏览器太小，要创建一个新的调查问卷，请调整浏览器至一个更大的屏幕分辨率。
                .content-wrapper
                    .creating
                        form
                            div
                                h3 问卷标题：
                                .dropdown-event
                                    button.right-ic
                                        i.ic.ic-folder-l
                                        span 未加入文件夹
                                        i.ic.ic-down-2d
                                    include ./template/dropdown-folder
                                    +folder('c-folder')
                            input(type='text', name='name', placeholder='请输入问卷标题')
                            br
                            mark.form-message Brief Statement Or Account Of The Main Points Of Something
                            p 您最多可以输入120个汉字。
                    .separator-bar
                        h1 使用范本
                        .dropdown-event
                            button.right-ic
                                span 范 本
                                i.ic.ic-down-2d
                            include ./template/dropdown-sample
                .surveys
                    .survey-column
                        .survey-item.select-sample
                            .open-design
                                .survey-mask
                                    .survey-operations
                                        a
                                            i.ic.ic-eye-d-w
                                            span 查看范本
                                    a.design-enter 选择
                                h1 空 白
                            .collection-schedule
                                div 已选择
                        .survey-footer.ellipsis
                            span 不使用范本
                    include ./template/survey-column-sample
                    +survey-sample('￥ 120','大学学生满意度范本','Use the switch context button in the upper left corner of this page to switch between your personal context (Wester1220) and organizations you are a member of.')
                    +survey-sample('￥ 120','大学学生满意度范本','Use the switch context button in the upper left corner of this page to switch between your personal context (Wester1220) and organizations you are a member of.')
                    +survey-sample('￥ 120','大学学生满意度范本','Use the switch context button in the upper left corner of this page to switch between your personal context (Wester1220) and organizations you are a member of.')
                    +survey-sample('￥ 120','大学学生满意度范本','Use the switch context button in the upper left corner of this page to switch between your personal context (Wester1220) and organizations you are a member of.')
                    +survey-sample('￥ 120','大学学生满意度范本','Use the switch context button in the upper left corner of this page to switch between your personal context (Wester1220) and organizations you are a member of.')
                a.load-more
                    p 加载更多...
    include layout/footer