doctype html
html
    head
        include layout/head.jade
        +title ('忘记密码')
    body.member-bg
        include layout/loading
        .center-wrapper
            .main-container
                #logo
                    span choices form
                    span beta
                h2 忘记密码
                #find_password
                    form
                        .input-forget
                            input(type='email', name='email', placeholder='请输入注册邮箱')
                            mark.form-message Brief Statement Or Account Of The Main Points Of Something
                        #verification.input-forget
                            input(type='text', name='verification', placeholder='验证码')
                            .verification
                            a.box-button
                                i.ic.ic-refresh
                            mark.form-message Brief Statement Or Account Of The Main Points Of Something
                    p 输入您的注册邮箱地址以重置密码。您可能需要查看垃圾邮件，或取消阻止 noreply@cform.io。
                    button.button.dark
                        span 找回密码
                    .back_login
                        h3 返回登录
                .sand-mail
                    p
                        | 我们已向您的
                        span gmail.com
                        | 邮箱发送了重置密码邮件,请查收并点击邮件中的链接。
                    p 没有收到邮件?请检查您的垃圾邮件或点击
                    h3 重新发送