doctype html
html
    head
        include layout/head.jade
        +title ('密码设置')
    body
        include layout/loading
        .main-wrapper
            include layout/nav
            header.page-header
                .w-container
                    h1 密码设置
                    button.purple
                        i.ic.ic-star-w
                        span 管理我的方案
                    p 当前方案：经济型
            .w-container
                .tabs.tabs-style
                    include ./template/tabs-user
                    .content-wrap
                        div
                            .content-row
                                .row-title
                                    h2 密码设置
                                    button.green(disabled='disabled')
                                        i.ic.ic-2dot-w
                                        span 保存更改
                                form
                                    h3 当前密码：
                                    input(type='password', name='password', placeholder='')
                                    br
                                    mark.form-message Brief Statement Or Account Of The Main Points Of Something
                                    p
                                        | You can upload images up to 256x256. Your avatar shows up in your public profile and your
                                        | organization notifications.
                                form
                                    h3 新密码：
                                    input(type='password', name='password', placeholder='')
                                    br
                                    h3 再次输入：
                                    input(type='password', name='password', placeholder='')
                                    br
                                    mark.form-message Brief Statement Or Account Of The Main Points Of Something
                                    p
                                        | You can upload images up to 256x256. Your avatar shows up in your public profile and your
                                        | organization notifications.
    include layout/footer