doctype html
html
    head
        include layout/head.jade
        +title ('tips')
    body
        .main-wrapper
            .tips.top
                span
                    | Spend more time creating, less time fighting CSS Webflow makes it easy to build sophisticated layouts and designs without having to touch a line of code.
                    a Read more...
            .tips.bottom
                span
                    | Spend more time creating, less time fighting CSS Webflow makes it easy to build sophisticated
                    a Read more...
                    | layouts and designs without having to touch a line of code.
            .tips.left
                span
                    | Spend more time creating, less time fighting CSS Webflow makes it easy to build sophisticated layouts and designs without having to touch a line of code.
                    a Read more...
            .tips.top
                span
                    | Spend more time creating, less time fighting CSS Webflow makes it easy to build sophisticated layouts
                    a Read more...
                    | and designs without having to touch a line of code.
            .top-slide.green
                i.ic.ic-info-w
                span
                    | Spend more time creating, less time fighting CSS Webflow makes it easy to build sophisticated layouts
                    a Read more...
                    | and designs without having to touch a line of code.