
<div id="ForgetPassword" style="display:none" ng-controller="FindPWCtrl" class="main-container">
  <div id="logo"><span onclick="turnToIndex()">choice form</span><span>beta</span></div>
  <h2>忘记密码</h2>
  <div id="find_password">
    <form name="ForgetPwForm" autocomplete="off" novalidate="novalidate">
      <div class="input-forget">
        <input id="ForgetEmail" type="email" name="fogetEmail" autocomplete="off" placeholder="请输入注册邮箱" ng-model="ForgetPW.Email" required="" ng-change="findPwInfoChange(ForgetPwForm.$valid,ForgetPwForm.fogetEmail.$dirty)" ng-keydown="enterOper()"/>
        <mark ng-show="!ForgetPW.EmailFlag" class="form-message">您输入的邮箱没有注册过。</mark>
        <mark ng-show="ForgetPwForm.fogetEmail.$dirty &amp;&amp; ForgetPwForm.fogetEmail.$invalid &amp;&amp; ForgetPwForm.fogetEmail.$error.required" class="form-message">请输入注册邮箱。</mark>
        <mark ng-show="ForgetPwForm.fogetEmail.$dirty &amp;&amp; ForgetPwForm.fogetEmail.$invalid &amp;&amp; ForgetPwForm.fogetEmail.$error.email" class="form-message">邮箱格式错误。</mark>
      </div>
      <div class="input-forget">
        <input id="ForgetValidCode" type="text" name="ValidCode" placeholder="验证码" autocomplete="off" ng-model="ForgetPW.VaildCode" required="" style="width:150px" ng-change="findPwInfoChange(ForgetPwForm.$valid,ForgetPwForm.ValidCode.$dirty)" ng-keydown="enterOper()"/>
        <div class="verification"><img id="imgcode" src="/Home/GetCode" style="width: 122px; height: 35px;" class="login_block float_l"/></div><a ng-click="reloadimg('imgcode')" class="box-button"><i class="ic ic-refresh"></i></a>
        <mark ng-show="!ForgetPW.ValiaCodeFlag" class="form-message">验证码输入错误。</mark>
        <mark ng-show="ForgetPwForm.ValidCode.$dirty &amp;&amp; ForgetPwForm.ValidCode.$invalid &amp;&amp; ForgetPwForm.ValidCode.$error.required" class="form-message">请输入验证码。</mark>
      </div>
    </form>
    <p>输入您的注册邮箱地址以重置密码。您可能需要查看垃圾邮件，或取消阻止 sc@cform.io。</p>
    <button ng-click="findPassword()" class="button dark"><span>找回密码</span></button>
  </div>
  <div id="SendAgainDiv" style="display:block" ng-show="ForgetPW.IsSendAgainFlag" class="sand-mail">
    <p>我们已向您的<span id="GmailSite"></span>邮箱发送了重置密码邮件,请查收并点击邮件中的链接。</p>
    <p>没有收到邮件?请检查您的垃圾邮件或点击</p>
    <h3>
      <button id="SendAgain" ng-click="sendAgain('#SendAgain')">重新发送</button>
    </h3>
  </div>
  <div class="back_login">
    <h3 ng-click="forgetToLogin()">返回登录</h3>
  </div>
</div>