<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--临时文件上传路径-->
    <add key="TmpFile" value="/UploadRoot/UploadImages/" />
    <!--问卷图片文件上传路径-->
    <add key="QuesImgFile" value="/UploadFiles/Photo/" />
    <!--发送邮件设置-->
    <add key="sendtime" value="13" /> 
    <add key="FromMailAddress" value="sc@cform.io" />
    <add key="SMTPHost" value="smtp.qq.com" />
    <add key="SMTPPort" value="25" /> 
    <add key="SMTPTimeout" value="60000" />
    <add key="SMTPUserName" value="sc@cform.io" />
    <add key="SMTPPassword" value="123qwe" />
    <!--压缩问卷文件临时保存路径-->
    <add key="SaveQuesFile" value="/UploadFiles/PublishFiles/" />
    <!--服务器地址-->
    <add key="ServerAddress" value="http://192.168.0.34:7090/" /> 
    <add key="Oauth" value="http://192.168.0.34:7093" /><!--域名-->
    <add key="LogoPic" value="/Images/QRCodeLogo.png" /><!--水印图片-->
    <add key="TmpExcelURL" value="/UploadFiles/Excel/tmp.xlsx" />
    <!--水印图片-->
    <!--版本-->
    <add key="version" value="1.0.29" />
    <!--是否显示Demo,1为显示，0 为不显示-->
    <add key="IsShowDemo" value="0" />
    <!--百度统计代码-->
    <add key="BaiduWeb" value="e9b3fa9233b51ce42a61879801f83fee" />

    <!--转PDF临时html模板-->
    <add key="SavePDFFileTmpHtml" value="/UploadFiles/Html/tmpHtml.html" />
    <!--主题Css-->
    <add key="ThemeCssFiles" value="/UploadFiles/Less/" />
    <!--Less模板文件-->
    <add key="ThemeLessFiles" value="/UploadFiles/TmpLess/" />
    <!--css模板文件-->
    <add key="ThemeCssFilesAll" value="/UploadFiles/CssFiles/" />
    <!--保存设计数据-->
    <add key="MySqlConn" value="Server=121.40.184.236;Port=3306;Uid=sa;Pwd=!sa123456;Database=SurveyInfo;" />

    <!--是否发布,1为发布，0 为不发布-->
    <add key="IsPublic" value="0" />
  </appSettings>
  <location path="." allowOverride="false" inheritInChildApplications="false">
  <connectionStrings>
    
    <add name="SurveyConn" connectionString="XpoProvider=MySql;Server=121.40.184.236;Port=3306;Uid=sa;Pwd=!sa123456;Database=SurveyInfo;Persist Security Info= true;Charset=utf8" />
    <add name="SurveyClientConn" connectionString="XpoProvider=MySql;Server=121.40.184.236;Port=3306;Uid=sa;Pwd=!sa123456;Database=SurveyClientInfo;Persist Security Info= true;Charset=utf8" />
    <add name="SurveyWebConn" connectionString="XpoProvider=MySql;Server=121.40.184.236;Port=3306;Uid=sa;Pwd=!sa123456;Database=SurveyWebInfo;Persist Security Info= true;Charset=utf8" />
    <add name="SurveyWebUBConn" connectionString="XpoProvider=MySql;Server=121.40.184.236;Port=3306;Uid=sa;Pwd=!sa123456;Database=SurveyWebUBInfo;Persist Security Info= true;Charset=utf8" />
    <add name="SurveyUBConn" connectionString="XpoProvider=MySql;Server=121.40.184.236;Port=3306;Uid=sa;Pwd=!sa123456;Database=SurveyUBInfo;Persist Security Info= true;Charset=utf8" />
    <add name="SurveyUserConn" connectionString="XpoProvider=MySql;Server=121.40.184.236;Port=3306;Uid=sa;Pwd=!sa123456;Database=SurveyUser;Persist Security Info= true;Charset=utf8" />
  </connectionStrings>
 
  
  <system.web>
    <customErrors mode="Off" >
      <error statusCode="404"  redirect="/Error/Error" />
    </customErrors>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="49600" appRequestQueueLimit="60" executionTimeout="60" />
  </system.web>

  </location>


  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <staticContent>
            <remove fileExtension=".json" />           
      <mimeMap fileExtension=".json" mimeType="text/plain"/>
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpErrors errorMode="Custom">

      <!--

         说明：根据需要移除指定的HTTP响应代码，设置为自定义的错误页面

      -->

      <remove statusCode="403"/>

      <remove statusCode="404"/>

      <!--<error statusCode="403" path="/Error/Error" responseMode ="Redirect"/>-->

      <error statusCode="404" path="/Error/Error" responseMode ="Redirect"/>

    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10240000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  
</configuration>
