<div class="popup_windows color_gary_kit_title border_dark_gary_262626 all_sides radius_3px search"
     id="node_search_result"
     ng-attr-style="{{designManager.searchManager.getStyle()}}"
     ng-mousedown="handleResultMouseDown($event)">
    <div class="w-clearfix popup_title font_color_light_d6d6d6 border_light_gary_3c3c3c buttom">
        <div class="design_icon ic_sea-rch_2 size_20px float_l margin_r_5px"></div>
        <h2 class="float_l cursor_default">搜索结果</h2>
        <div class="w-inline-block close_button color_gary_gradient_icon_button
           border_light_gary_3c3c3c all_sides radius_2px cursor_pointer">
            <div class="design_icon size_20px ic_close" ng-click="handleCloseResultClick()"></div>
        </div>
    </div>
    <div class="search_content">
        <div class="search_item font_color_light_d6d6d6 border_light_gary_3c3c3c buttom font_size_12px cursor_pointer"
             ng-class="{'search_item_selected':node.isSelected()}"
             ng-repeat="node in designManager.searchManager.nodes"
             ng-click="handleResultItemClick(node)" style="word-break:break-all">{{node.nodeName}}</div>
    </div>
</div>
