| @{
| ViewBag.Title = "FindPasswordByEmail";
| Layout = null;
| }
doctype html
html
    head
        include ../../content/layout/headtosi.jade 
        +title ('巧思 choice form')

    body.member-bg(ng-app='myapp', ng-controller='SetPwCtrl')

        include ../../content/template/loading

        |<input type="hidden" value="@Request.QueryString["email"]" id="Email">
        |<input type="hidden" value="@Request.QueryString["resetcode"]" id="RandomCode">
        .center-wrapper
            #Login.main-container
                #logo
                    span(onclick='turnToIndex()') choice form
                    span beta
                h2 重置密码
                form(name='SetPwForm')
                    .input-sgin
                        input#name(type='password', name='password', placeholder='新密码', ng-model='SetPw.Password', required='', ng-minlength='6', maxlength='12', ng-change='ValidPwdConsistency(SetPwForm.$valid,SetPwForm.password.$dirty)')
                        mark.form-message(style='display:block', ng-show='SetPwForm.password.$dirty && SetPwForm.password.$invalid && SetPwForm.password.$error.required') 请输入新密码
                        mark.form-message(style='display:block;', ng-show='SetPwForm.password.$dirty && SetPwForm.password.$invalid && SetPwForm.password.$error.minlength') 密码不能小于6个字符
                    .input-sgin
                        input(type='password', name='confirmpassword', placeholder='确认密码', ng-model='SetPw.ConfirmPassword', required='', ng-minlength='6', maxlength='12', ng-change='ValidPwdConsistency(SetPwForm.$valid,SetPwForm.confirmpassword.$dirty)')
                        mark.form-message(style='display:block', ng-show='SetPwForm.confirmpassword.$dirty && SetPwForm.confirmpassword.$invalid && SetPwForm.confirmpassword.$error.required') 请确认新密码
                        mark.form-message(style='display:block', ng-show='SetPwForm.confirmpassword.$dirty && SetPwForm.confirmpassword.$invalid && SetPwForm.confirmpassword.$error.minlength') 密码不能小于6个字符
                        mark.form-message(style='display:block', ng-show='SetPw.SomeFlag') 两次输入的密码不一致。
                button.button.blue(ng-click='setPassword()', ng-disabled='!SetPw.SetSubmitFlag')
                    span 设置密码


