<!DOCTYPE html>
<html>
  <head>
        <title>survey | choice form</title>
        <meta http-equiv="Content-Type" charset="utf-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../css/de-index.css">
        <link rel="stylesheet" type="text/css" href="../css/colpick.css">
        <link rel="stylesheet" type="text/css" href="../css/md-editor.css">
        <link rel="stylesheet" type="text/css" href="../css/scroller.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
        <link rel="apple-touch-icon" type="image/x-icon" href="../images/cf.svg">
        <script type="text/javascript" src="../script/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../script/lib/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../script/lib/angular.min.js"></script>
        <script type="text/javascript" src="../script/lib/sortable.js"></script>
        <script type="text/javascript" src="../script/lib/colpick.js"></script>
        <script type="text/javascript" src="../script/lib/scroller.js"></script>
        <script type="text/javascript" src="../script/lib/modernizr.js"></script>
        <script type="application/javascript" src="../script/lib/fastclick.js"></script>
        <script src="../script/de-index.js"></script>
  </head>
  <body ng-app="ZYDesign" ng-controller="ZYDesignController">
    <div id="main">
      <nav><a ng-click="handleBackIconClick()" class="leave"><i class="ic ic-leave"></i><i class="leave-icon"><span class="dashboard-loader"><span class="loader-inner"></span></span></i></a>
        <div class="logo"><span>choice form</span><span>&#36820;&#22238;&#25105;&#30340;&#38382;&#21367;</span></div>
        <div ng-bind="designManager.startNode.nodeName" class="title"></div>
        <div class="operation drop-closest"><a value="Tooltip" ng-click="handleReleaseIconClick()" class="publish v-tips"><i class="ic ic-publish"></i><span>&#21457;&#24067;</span></a><a value="Tooltip" ng-click="handleTestClick()" class="debug v-tips"><i class="ic ic-debug"></i><span>&#35843;&#35797;</span></a><a value="Tooltip" ng-click="handleReleaseIconClick()" class="save v-tips"><i class="sv sv-save"></i><span>&#20445;&#23384;</span></a>
          <div class="history dropdown-item"><a ng-mouseenter="handleVersionHistoryMouseEnter()" class="drop-but"><i class="ic ic-history"></i></a>
            <!--include ../content/-popup/history.jade-->
            <div data-version-drop="designManager.versionHistoryManager" data-popupmessage-manager="designManager.PopupMessageManager"></div>
          </div>
          <div class="undo"><a value="Tooltip" ng-click="handleRedoClick()" class="v-tips"><i class="ic ic-redo"></i></a><a value="Tooltip" ng-click="handleUndoClick()" class="v-tips"><i class="ic ic-undo"></i></a></div>
        </div>
      </nav>
      <div id="toolbar"><a value="Tooltip" name="0" ng-click="handleToggleNodeBoxClick();" class="small_tab h-tips"><i class="ic ic-nodes"></i></a><a value="Tooltip" name="1" class="small_tab h-tips"><i class="ic ic-media"></i></a><a value="Tooltip" name="2" class="small_tab h-tips"><i class="ic ic-preview"></i></a><a value="Tooltip" name="3" class="small_tab h-tips"><i class="ic ic-gift"></i></a><a value="Tooltip" name="4" class="small_tab h-tips"><i class="ic ic-printer"></i></a><a class="additional"><i class="ic ic-tips-f"></i></a>
        <div class="dropdown-item"><a class="drop-but"><i class="ic ic-question-f"></i></a>
          <!--include ../popup/help-center.jade-->
          <div data-help-center="todo"></div>
        </div>
      </div>
      <div id="sidebar" data-id="node_editor">
        <div class="tab-panels">
          <ul class="tabs">
            <li><a value="" name="5" rel="sidebar_panel1" class="tab activ v-tips"><i class="ic ic-editor"></i></a></li>
            <li><a value="Tooltip" name="6" rel="sidebar_panel2" class="tab v-tips"><i class="ic ic-advanced"></i></a></li>
          </ul>
          <div class="leading-section">
            <div><i></i><span>&#36873;&#25321;&#39064;</span>
              <div class="color-box"></div>
            </div>
            <div><span>&#39064;&#30446;&#32534;&#21495;</span></div>
            <input type="text" placeholder="&#39064;&#30446;&#32534;&#21495;" ng-model="node.nodeName" ng-focus="handleNodeNameChange(node,-1)" ng-change="handleNodeNameChange(node)" ng-blur="handleNodeNameChange(node,1)" ng-model-options="{debounce:150}" ng-disabled="!node.nodeNameEditable" maxlength="20">
            <div ng-click="handleNodeLocateClick(node)"><i class="ic-m ic-location"></i><span>common target</span></div>
          </div>
          <div id="sidebar_panel1" class="panel nano activ">
            <div ng-if="node" class="kit-section-group nano-content">
              <div data-question-setting="todo"></div>
              <div data-type-setting="todo"></div>
              <div data-option-setting="todo"></div>
              <div data-common-setting="todo"></div>
              <div data-other-setting="todo"></div>
              <!--include ../content/sidebar/mc-options/question-settings.jade-->
              <!--include ../content/sidebar/mc-options/type-settings.jade-->
              <!--include ../content/sidebar/mc-options/mc-options-settings.jade-->
              <!--include ../content/sidebar/mc-options/common-settings.jade-->
              <!--include ../content/sidebar/mc-options/other-settings.jade-->
            </div>
          </div>
          <div id="sidebar_panel2" class="panel"></div>
        </div>
      </div>
      <div class="slide-border"></div>
      <div id="footerbar"><span>This is some text inside of a div block.</span>
        <ul>
          <li><a value="Tooltip" class="v-tips"><i class="ic-d ic-show-all"></i></a></li>
          <li><a value="Tooltip" class="v-tips"><i class="ic-d ic-zoom-in"></i></a></li>
          <li><span>100%</span></li>
          <li><a value="Tooltip" class="v-tips"><i class="ic-d ic-zoom-out"></i></a></li>
        </ul>
        <ul>
          <li><a value="Tooltip" class="v-tips"><i class="ic-d ic-grid"></i></a></li>
        </ul>
        <ul>
          <li><a value="Tooltip" class="v-tips"><i class="ic-d ic-trash"></i></a></li>
          <li><a value="Tooltip" class="v-tips"><i class="ic-d ic-duplicate"></i></a></li>
          <li><a value="Tooltip" class="v-tips"><i class="ic-d ic-disconnect"></i></a></li>
        </ul>
        <div class="search">
          <input type="text" placeholder="&#25628;&#32034;"><a class="search-button"><i class="ic-d ic-search"></i></a>
        </div>
      </div>
      <div id="nodes-kit" class="kit">
        <div class="kit-title">
          <h3>&#26032;&#22686;&#33410;&#28857;</h3><a class="switch-buton"><span>&#38145;&#23450;</span>
            <div class="switch"></div></a><a class="bt-close-left-panel">
            <div><i class="ic ic-close"></i></div></a>
        </div>
        <div class="kit-section nano">
          <div class="kit-content nano-content">
            <div class="kit-scroll-group">
              <div class="kit-position">
                                <div class="title-local"><a class="quick-help"><i class="ic-m ic-question"></i></a><i id="arrow-drop-down" class="ic ic-arrow-drop-down"></i><span>&#22522;&#26412;&#33410;&#28857;</span></div>
                <ul class="section-content">
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                </ul>
              </div>
              <div class="kit-position">
                                <div class="title-local"><a class="quick-help"><i class="ic-m ic-question"></i></a><i id="arrow-drop-down" class="ic ic-arrow-drop-down"></i><span>&#29956;&#21035;&#33410;&#28857;</span></div>
                <ul class="section-content">
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                </ul>
              </div>
              <div class="kit-position">
                                <div class="title-local"><a class="quick-help"><i class="ic-m ic-question"></i></a><i id="arrow-drop-down" class="ic ic-arrow-drop-down"></i><span>&#36923;&#36753;&#33410;&#28857;</span></div>
                <ul class="section-content">
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                                    <li class="nodes-item"><a class="quick-help"><i class="ic-m ic-question"></i></a><i></i><span>&#36873;&#25321;&#39064;</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="media-kit" class="kit">
        <div class="kit-title">
          <h3>&#22270;&#29255;&#24211;</h3><a class="switch-buton"><span>&#38145;&#23450;</span>
            <div class="switch"></div></a><a class="bt-close-left-panel">
            <div><i class="ic ic-close"></i></div></a>
        </div>
        <div class="kit-section nano">
          <div class="kit-content nano-content">
            <ul class="kit-scroll-group">
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item link">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item link">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item link">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
                            <li class="media-item">
                              <div class="nodes-progress">
                                <div class="nodes-progress-bar"></div>
                              </div>
                            </li>
            </ul>
          </div>
          <div class="nodes-col"><a class="upload"><span>&#19978; &#20256;</span></a>
            <div><span>example.jpg</span><a><span>&#21024;&#38500;</span><i class="ic-m ic-trash"></i></a></div>
            <div><i class="ic ic-dimensions"></i><span>640 x 360 px</span></div>
            <div><i class="ic ic-size"></i><span>124 kB</span></div>
            <div class="media-preview">
              <div class="link-button">
                <ul>
                  <li>&#34987;&#20197;&#19979;&#33410;&#28857;&#25152;&#24341;&#29992;:</li>
                  <li>&#36873;&#25321;&#39064;1</li>
                  <li>&#36873;&#25321;&#39064;1</li>
                  <li>&#36873;&#25321;&#39064;1</li>
                  <li>&#36873;&#25321;&#39064;1</li>
                  <li>&#36873;&#25321;&#39064;1</li>
                  <li>&#36873;&#25321;&#39064;1</li>
                </ul><a></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="theme-kit" class="kit mobile">
        <div class="kit-title">
          <h3>&#38382;&#21367;&#39044;&#35272;</h3><a class="switch-buton"><span>&#38145;&#23450;</span>
            <div class="switch"></div></a><a class="bt-close-left-panel">
            <div><i class="ic ic-close"></i></div></a>
        </div>
        <div class="kit-section nano">
          <ul class="kit-content nano-content">
            <div class="kit-scroll-group">
              <div class="check-item"><a class="theme-mobile"><i class="ic ic-iphone"></i></a><a class="theme-pad"><i class="ic ic-ipad"></i></a><a class="theme-pc"><i class="ic ic-imac"></i></a></div>
              <div class="theme-nav"><a id="preset-theme" class="gradient"><span>&#36873;&#25321;&#20027;&#39064;</span></a><a id="custom-theme" class="gradient"><span>&#20445;&#23384;&#33258;&#23450;&#20041;&#20027;&#39064;</span></a></div>
              <div class="preview-screen">
                <div id="survey-screen" class="survey-screen">
                  <iframe id="preview-screen" src=""></iframe>
                </div>
              </div>
              <div class="theme-control">
                <h4>&#33258;&#23450;&#20041;&#39068;&#33394;</h4>
                <ul class="theme-color">
                  <li>
                    <div class="color-box"></div><span>&#32972;&#26223;</span>
                  </li>
                  <li>
                    <div class="color-box"></div><span>&#38382;&#39064;&#25991;&#23383;</span>
                  </li>
                  <li>
                    <div class="color-box"></div><span>&#25353;&#38062;</span>
                  </li>
                  <li>
                    <div class="color-box"></div><span>&#25353;&#38062;&#25991;&#23383;</span>
                  </li>
                  <li>
                    <div class="color-box"></div><span>&#36873;&#39033;&#25991;&#23383;</span>
                  </li>
                </ul>
              </div>
            </div>
          </ul>
          <div class="theme-col">
            <div class="theme-title"><i class="ic ic-preset"></i><span>&#36873;&#25321;&#20027;&#39064;</span><a id="close-col"><i class="ic ic-close"></i></a></div>
            <div class="preset tab-panels">
              <ul class="tabs">
                <li><a rel="theme_panel1" class="tab activ"><span>&#39044;&#35774;&#20027;&#39064;</span></a></li>
                <li><a rel="theme_panel2" class="tab"><span>&#33258;&#23450;&#20041;&#20027;&#39064;</span></a></li>
              </ul>
              <div id="theme_panel1" class="panel activ">
                <ul>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                </ul>
              </div>
              <div id="theme_panel2" class="panel">
                <ul>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><a><i class="ic-m ic-trash"></i></a><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><a><i class="ic-m ic-trash"></i></a><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><a><i class="ic-m ic-trash"></i></a><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><a><i class="ic-m ic-trash"></i></a><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><a><i class="ic-m ic-trash"></i></a><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><a><i class="ic-m ic-trash"></i></a><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                                    <li class="icolor"><i class="ic-m ic-tick"></i><a><i class="ic-m ic-trash"></i></a><span>coloricon</span>
                                      <div>+</div>
                                      <div>+</div>
                                      <div>+</div>
                                    </li>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                  <div class="justify-fix">&nbsp;</div>
                </ul>
              </div>
              <div class="teme-save"><a id="close-teme-save"><i class="ic ic-close"></i></a>
                <div class="icolor"><span></span>
                  <div>+</div>
                  <div>+</div>
                  <div>+</div>
                </div>
                <h4>&#36755;&#20837;&#33258;&#23450;&#20041;&#20027;&#39064;&#21517;&#23383;:</h4>
                <input type="text" placeholder=""><a class="gradient"><span>&#20445;&#23384;</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="search" class="popup drag">
        <div class="popup-title"><i class="ic ic-search"></i>
          <h3>&#25628;&#32034;</h3><a class="close-popup"><i class="ic ic-close"></i></a>
        </div>
        <div class="popup-content nano">
          <ul class="nano-content">
            <li ng-repeat="node in designManager.searchManager.nodes" ng-click="handleResultItemClick(node)" ng-class="{'list-activ':node.isSelected()}"><span>{{node.nodeName}}</span></li>
          </ul>
        </div>
      </div>
      <div id="debug" class="popup drag">
        <div class="popup-title"><i class="ic ic-debugging"></i>
          <h3>&#26657;&#39564;&#32467;&#26524;</h3><a class="close-popup"><i class="ic ic-close"></i></a>
        </div>
        <div class="popup-content nano">
          <ul class="nano-content">
                        <li><i class="ic ic-exclamation"></i><span>&#36873;&#25321;&#39064;1</span>
                          <h4>&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;</h4>
                        </li>
                        <li><i class="ic ic-exclamation"></i><span>&#36873;&#25321;&#39064;1&#36873;&#25321;&#39064;1&#36873;&#25321;&#39064;1&#36873;&#25321;&#39064;1&#36873;&#25321;&#39064;1&#36873;&#25321;&#39064;1&#36873;&#25321;&#39064;1&#36873;&#25321;&#39064;1</span>
                          <h4>&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;</h4>
                        </li>
                        <li class="list-activ"><i class="ic ic-exclamation"></i><span>&#36873;&#25321;&#39064;1</span>
                          <h4>&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;</h4>
                        </li>
                        <li><i class="ic ic-exclamation"></i><span>&#36873;&#25321;&#39064;1</span>
                          <h4>&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;</h4>
                        </li>
                        <li><i class="ic ic-exclamation"></i><span>&#36873;&#25321;&#39064;1</span>
                          <h4>&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;</h4>
                        </li>
                        <li><i class="ic ic-exclamation"></i><span>&#36873;&#25321;&#39064;1</span>
                          <h4>&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;</h4>
                        </li>
                        <li><i class="ic ic-exclamation"></i><span>&#36873;&#25321;&#39064;1</span>
                          <h4>&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;</h4>
                        </li>
                        <li><i class="ic ic-exclamation"></i><span>&#36873;&#25321;&#39064;1</span>
                          <h4>&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;</h4>
                        </li>
                        <li><i class="ic ic-exclamation"></i><span>&#36873;&#25321;&#39064;1</span>
                          <h4>&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;</h4>
                        </li>
                        <li><i class="ic ic-exclamation"></i><span>&#36873;&#25321;&#39064;1</span>
                          <h4>&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;</h4>
                        </li>
                        <li><i class="ic ic-exclamation"></i><span>&#36873;&#25321;&#39064;1</span>
                          <h4>&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;</h4>
                        </li>
                        <li><i class="ic ic-exclamation"></i><span>&#36873;&#25321;&#39064;1</span>
                          <h4>&#27809;&#26377;&#23436;&#25104;&#36755;&#20837;</h4>
                        </li>
          </ul>
        </div>
        <h5>&#35831;&#20462;&#27491;&#35813;&#38382;&#39064;&#65288;&#26816;&#26597;&#20197;&#19979;&#31995;&#32479;&#25552;&#31034;&#33410;&#28857;&#65289;&#65292;&#20877;&#27425;&#25191;&#34892;&#35843;&#35797;&#21151;&#33021;&#12290;</h5>
      </div>
      <div id="batch" class="popup drag">
        <div class="popup-title"><i class="ic ic-batch"></i>
          <h3>&#25209;&#37327;&#36755;&#20837;</h3><a class="close-popup"><i class="ic ic-close"></i></a>
        </div>
        <ul class="popup-content">
          <div class="batch-control"><a><i class="ic ic-question-l"></i></a>
          </div>
          <div class="batch-input">
            <textarea id="batch-textarea" placeholder="&#25209;&#37327;&#36755;&#20837;&#36873;&#39033; (&#22238;&#36710;&#25442;&#34892;&#21019;&#24314;&#26032;&#36873;&#39033;)" name="batch" rows="1" class="dynamic_textarea"></textarea>
          </div>
          <div class="popup-control"><a><span>&#21462; &#28040;</span></a><a><span>&#30830; &#23450;</span></a></div>
        </ul>
      </div>
      <div id="save" class="popup vertical-centers">
        <div class="popup-title"><i class="ic ic-document-1"></i>
          <h3>&#20445;&#23384;&#19968;&#20010;&#29256;&#26412;</h3><a ng-click="handleCancleVersionClick()" class="close-popup"><i class="ic ic-close"></i></a>
        </div>
        <ul class="popup-content">
          <input id="ver_name_input" type="text" placeholder="&#36755;&#20837;&#29256;&#26412;&#25551;&#36848;" maxlength="30" ng-attr-value="{{versionSaveManager.defaultName}}">
          <div class="popup-control"><a ng-click="handleSaveVersionClick()"><span>&#30830; &#23450;</span></a></div>
        </ul>
      </div>
      <div id="message" class="popup vertical-centers">
        <div class="popup-title"><i class="ic ic-info"></i>
          <h3 ng-click="handlePopupMessageClose()">&#25552;&#31034;&#20449;&#24687;</h3><a class="close-popup"><i class="ic ic-close"></i></a>
        </div>
        <ul class="popup-content">
          <p ng-bind="designManager.PopupMessageManager.getPromptMessage()"></p>
          <div class="popup-control"><a ng-click="handleCancelSaveEditInfo()" class="close-popup"><span>&#21462; &#28040;</span></a><a ng-click="handleSaveEditInfo()"><span>&#30830; &#23450;</span></a></div>
        </ul>
      </div>
      <div id="topline" class="popup blue"><i class="ic ic-exclamation"></i>
        <p>Objects in real life don&#8217;t just start and stop instantly, and almost never move at a constant speed.</p>
      </div>
      <div id="markdown" class="popup drag">
        <div class="popup-title"><i class="ic ic-markdown"></i><span>&#32534;&#36753;&#38382;&#39064;</span><a class="close-popup"><i class="ic ic-close"></i></a></div>
        <div class="inner">
          <div class="editor">
            <div id="editor-control" class="editor-control"><a href="#h1">H1</a><a href="#h2">H2</a><a href="#h3">H3</a><span class="editor-divider"></span><a href="#bold" class="text-bold">B</a><a href="#italic" class="text-italic">I</a><a href="#quote" class="text Code">BQ</a><a href="#ul-list"><abbr title="Unordered List">UL</abbr></a><a href="#ol-list"><abbr title="Ordered List">OL</abbr></a><a href="#code" class="text Code"><></a><a href="#hr">----</a><span class="editor-divider"></span>
              <!--a(href='#link') link--><a href="#image">&#25554;&#20837;&#22270;&#29255;</a><span class="editor-divider"></span><a id="eye" href="#" title="Preview">&#39044;&#35272;</a><a><i class="ic ic-question-l"></i></a>
            </div>
            <textarea id="editor-area" placeholder="&#36755;&#20837;&#38382;&#39064;" class="editor-area"></textarea>
            <div class="result"></div>
          </div>
        </div>
        <div class="popup-control"><a><span>&#21462; &#28040;</span></a><a><span>&#30830; &#23450;</span></a></div>
      </div>
      <div class="popup-background"></div>
      <ul class="temp-icon">
        <ul ng-attr-style="{{contextMenu.getStyle()}}" ng-mousedown="handleMenuMouseDown($event)" class="right-click">
          <li ng-repeat="item in contextMenu.list" ng-click="handleMenuItemClick(item)" ng-class="{'disable':!item.enable}"><span>{{item.text}}</span><span>{{item.hotKey}}</span></li>
          <li class="breakline"></li>
          <li ng-repeat="item in contextMenu.list2" ng-click="handleMenuItemClick(item)" ng-class="{'disable':!item.enable}"><span>{{item.text}}</span><span>{{item.hotKey}}</span></li>
          <li class="breakline"></li>
          <li ng-repeat="item in contextMenu.list3" ng-click="handleMenuItemClick(item)" ng-class="{'disable':!item.enable}"><span>{{item.text}}</span><span>{{item.hotKey}}</span></li>
        </ul>
        <li><a class="topline">popup topline</a></li>
      </ul>
    </div>
  </body>
  <script src="../script/lib/showdown.js"></script>
  <script src="../script/lib/md-library.js"></script>
  <script src="../script/lib/md-editor.js"></script>
  <script src="../script/sortable-options.js"></script>
  <script src="../script/directive/common_setting_directive.js"></script>
  <script src="../script/directive/help_center_directive.js"></script>
  <script src="../script/directive/normal_option_directive.js"></script>
  <script src="../script/directive/option_setting_directive.js"></script>
  <script src="../script/directive/other_setting_directive.js"></script>
  <script src="../script/directive/question_setting_directive.js"></script>
  <script src="../script/directive/type_setting_directive.js"></script>
  <script src="../script/directive/version_drop_directive.js"></script>
  <script src="../script/directive/app.js"></script>
  <script src="../script/event/tips.js"></script>
  <script>
    setTimeout(function(){
        $(".nano").nanoScroller({ flash: true });
    },1000);
    
  </script>
  <!--script.
  (function($){
      $(window).load(function(){
          $(".custom-scrollbar").mCustomScrollbar({
              axis:"y",
              scrollButtons:{enable:false},
              //mouseWheelPixels: 1,
              scrollInertia: 1,
              //snapAmount:84,
              //scrollInertia: 80,
              theme:"dark-thin"
          });
      });
  })(jQuery);
  -->
</html>