
<div class="cq-view">
  <ul>
    <li class="ic-current"><i class="chic ic-hbar"></i></li>
    <li><i class="chic ic-vbar"></i></li>
    <li><i class="chic ic-stacked-hbar"></i></li>
    <li><i class="chic ic-stacked-vbar"></i></li>
    <li><i class="chic ic-pie"></i></li>
    <li><i class="chic ic-donut"></i></li>
    <li><i class="chic ic-line"></i></li>
    <li><i class="chic ic-area"></i></li>
  </ul>
  <div class="customize-control">
    <button class="medium gray"><span>取消</span></button>
    <button class="medium green"><i class="ic ic-2dot-w"></i><span>保存</span></button>
  </div>
</div>