
<div class="sidebar">
  <div class="setting-row">
    <h2>定义视图<a class="box-button"><i class="ic ic-question-mark-d"></i></a></h2>
    <div class="sidebar-row">
      <!-- 侧栏-设置区块--><span>显示规则</span><a class="box-button blue"><i class="ic ic-plus-w"></i></a>
      <form id="rules">
        <div>
                    <input id="radio1" type="radio" name="radio1" checked="checked" class="css-checkbox"/>
                    <label for="radio1" class="radio-label radGroup1">选择题1,选择题2,选择题1,选择题2,选择题1,选择题1,选择题2,选择题1,选择题2,选择题1</label>
          <div class="dropdown-event">
                        <ul class="floating strip">
                          <li>操作：</li>
                          <li>编辑</li>
                          <li>重命名</li>
                          <li></li>
                        </ul><a class="box-button setup"><i class="ic ic-wrench-d"></i></a>
          </div>
        </div>
        <div>
                    <input id="radio2" type="radio" name="radio2" class="css-checkbox"/>
                    <label for="radio2" class="radio-label radGroup1">选择题1,选择题2,选择题1,选择题2,选择题1,选择题1,选择题2,选择题1,选择题2,选择题1</label>
          <div class="dropdown-event">
                        <ul class="floating strip">
                          <li>操作：</li>
                          <li>编辑</li>
                          <li>重命名</li>
                          <li></li>
                        </ul><a class="box-button setup"><i class="ic ic-wrench-d"></i></a>
          </div>
        </div>
      </form>
      <form id="sub-rules">
        <div>
                    <input id="checkboxG1" type="checkbox" name="checkboxG1" class="css-checkbox"/>
                    <label for="checkboxG1" class="checkbox-label">全选</label>
        </div>
        <div>
                    <input id="checkboxG2" type="checkbox" name="checkboxG2" class="css-checkbox"/>
                    <label for="checkboxG2" class="checkbox-label">反选</label>
        </div>
        <div>
                    <input id="checkboxG3" type="checkbox" name="checkboxG3" class="css-checkbox"/>
                    <label for="checkboxG3" class="checkbox-label">Q1: 多选题</label>
        </div>
        <div>
                    <input id="checkboxG4" type="checkbox" name="checkboxG4" class="css-checkbox"/>
                    <label for="checkboxG4" class="checkbox-label">Q2: 多选题</label>
        </div>
        <div>
                    <input id="checkboxG5" type="checkbox" name="checkboxG5" class="css-checkbox"/>
                    <label for="checkboxG5" class="checkbox-label">Q3: 多选题</label>
        </div>
        <div>
                    <input id="checkboxG6" type="checkbox" name="checkboxG6" class="css-checkbox"/>
                    <label for="checkboxG6" class="checkbox-label">Q5: 多选题</label>
        </div>
        <div>
                    <input id="checkboxG7" type="checkbox" name="checkboxG7" class="css-checkbox"/>
                    <label for="checkboxG7" class="checkbox-label">Q6: 多选题</label>
        </div>
      </form>
      <div class="customize-control">
        <button class="medium gray"><span>取消</span></button>
        <button class="medium green"><span>应用</span></button>
      </div>
    </div>
    <div class="sidebar-row">
      <!-- 侧栏-设置区块--><span>筛选条件</span><a class="box-button blue"><i class="ic ic-plus-w"></i></a>
      <form id="rules">
        <div>
                    <input id="checkboxG8" type="checkbox" name="checkboxG8" class="css-checkbox"/>
                    <label for="checkboxG8" class="checkbox-label">收集器：收集器1,收集器2,收集器3,收集器1</label>
          <div class="dropdown-event">
                        <ul class="floating strip">
                          <li>操作：</li>
                          <li>编辑</li>
                          <li>重命名</li>
                          <li></li>
                        </ul><a class="box-button setup"><i class="ic ic-wrench-d"></i></a>
          </div>
        </div>
        <div>
                    <input id="checkboxG9" type="checkbox" name="checkboxG9" class="css-checkbox"/>
                    <label for="checkboxG9" class="checkbox-label">收集器：收集器1,收集器2,收集器3,收集器1</label>
          <div class="dropdown-event">
                        <ul class="floating strip">
                          <li>操作：</li>
                          <li>编辑</li>
                          <li>重命名</li>
                          <li></li>
                        </ul><a class="box-button setup"><i class="ic ic-wrench-d"></i></a>
          </div>
        </div>
      </form>
      <form id="sub-rules">
        <ul>
          <li>按收集器筛选<i class="ic ic-right-2d"></i></li>
          <li>按问题与答案筛选<i class="ic ic-right-2d"></i></li>
          <li>按时间筛选<i class="ic ic-right-2d"></i></li>
        </ul>
      </form>
      <form id="sub2-rules"><span>收集器筛选</span>
        <div id="coll-rules">
          <div>
                      <input id="checkboxG11" type="checkbox" name="checkboxG11" class="css-checkbox"/>
                      <label for="checkboxG11" class="checkbox-label">收集器 1</label>
          </div>
          <div>
                      <input id="checkboxG12" type="checkbox" name="checkboxG12" class="css-checkbox"/>
                      <label for="checkboxG12" class="checkbox-label">渠道 1</label>
          </div>
          <div>
                      <input id="checkboxG13" type="checkbox" name="checkboxG13" class="css-checkbox"/>
                      <label for="checkboxG13" class="checkbox-label">渠道 2</label>
          </div>
        </div>
      </form>
      <div class="customize-control">
        <button class="medium gray"><span>取消</span></button>
        <button class="medium green"><span>应用</span></button>
      </div>
    </div>
    <h2>输出<a class="box-button"><i class="ic ic-question-mark-d"></i></a></h2>
    <div class="sidebar-row">
      <!-- 侧栏-设置区块--><span>输出规则</span><a class="box-button blue"><i class="ic ic-plus-w"></i></a>
      <form id="rules">
        <div>
                    <input id="radio1" type="radio" name="radio1" checked="checked" class="css-checkbox"/>
                    <label for="radio1" class="radio-label radGroup1">输出规则20150214</label>
          <div class="dropdown-event">
                        <ul class="floating strip">
                          <li>操作：</li>
                          <li>编辑</li>
                          <li>重命名</li>
                          <li></li>
                        </ul><a class="box-button setup"><i class="ic ic-wrench-d"></i></a>
          </div>
        </div>
      </form>
    </div>
    <div class="sidebar-row">
      <!-- 侧栏-设置区块--><span>输出结果</span><a class="box-button green"><i class="ic ic-plus-w"></i></a>
      <div id="output">
        <!--i.ic.ic-download-w
        span CSV: Data_All_150324.zip
        .dropdown-event
            ul.dropdown.output
                li 显示文件详情
                li 下载结果
                li 删除结果
            a.box-button.setup
                i.ic.ic-wrench-d
        ul.output-detailed
            li Format: CSV
            li View:儲存的資料檢視頁面(edited)
            li Created:3/24/2015
            li Expires:4/7/2015
        -->
        <div class="output_box"><i class="ic ic-download-w"></i><span>CSV: Data_All_1asdadadadadasdsadadadas50324.zip</span>
          <div class="dropdown-event">
            <ul class="dropdown output">
              <li>显示文件详情</li>
              <li>下载结果</li>
              <li>删除结果</li>
            </ul><a class="box-button setup"><i class="ic ic-wrench-d"></i></a>
          </div>
          <ul class="output-detailed">
            <li>Format: CSV</li>
            <li>View:儲存的資料檢視頁面(edited)</li>
            <li>Created:3/24/2015</li>
            <li>Expires:4/7/2015</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>