
<div class="Answer_selection">
  <ul class="Answer_selection_01">
    <li>
      <div><span>答案选择</span></div>
      <div><span>回复</span></div>
    </li>
        <li>
          <div><img src="../../images/db/067653d3ed5c442a309c7749f43ebf4a.jpeg" width="64px"/><span>reate professional</span></div>
          <div><span>100.00%</span><span>000</span></div>
        </li>
        <li>
          <div><img src="../../images/db/067653d3ed5c442a309c7749f43ebf4a.jpeg" width="64px"/><span>reate professional</span></div>
          <div><span>100.00%</span><span>000</span></div>
        </li>
        <li>
          <div><img src="../../images/db/067653d3ed5c442a309c7749f43ebf4a.jpeg" width="64px"/><span>reate professional</span></div>
          <div><span>100.00%</span><span>000</span></div>
        </li>
        <li>
          <div><img src="../../images/db/067653d3ed5c442a309c7749f43ebf4a.jpeg" width="64px"/><span>reate professional</span></div>
          <div><span>100.00%</span><span>000</span></div>
        </li>
  </ul>
  <ul class="Answer_selection_02">
    <li>
      <div><span>答案选择</span></div>
      <div><span>回复</span></div>
      <div class="Answer_point"><span>1</span></div>
      <div class="Answer_point"><span>2</span></div>
      <div class="Answer_point"><span>3</span></div>
    </li>
        <li>
          <div><img src="../../images/db/067653d3ed5c442a309c7749f43ebf4a.jpeg" width="64px"/><span>选项题1</span></div>
          <div><span>3.5</span></div>
          <div class="Answer_point"><span>1</span><span>30%</span></div>
          <div class="Answer_point"><span>2</span><span>40%</span></div>
          <div class="Answer_point"><span>3</span><span>50%</span></div>
        </li>
        <li>
          <div><img src="../../images/db/067653d3ed5c442a309c7749f43ebf4a.jpeg" width="64px"/><span>选项题1</span></div>
          <div><span>3.5</span></div>
          <div class="Answer_point"><span>1</span><span>30%</span></div>
          <div class="Answer_point"><span>2</span><span>40%</span></div>
          <div class="Answer_point"><span>3</span><span>50%</span></div>
        </li>
        <li>
          <div><img src="../../images/db/067653d3ed5c442a309c7749f43ebf4a.jpeg" width="64px"/><span>选项题1</span></div>
          <div><span>3.5</span></div>
          <div class="Answer_point"><span>1</span><span>30%</span></div>
          <div class="Answer_point"><span>2</span><span>40%</span></div>
          <div class="Answer_point"><span>3</span><span>50%</span></div>
        </li>
        <li>
          <div><img src="../../images/db/067653d3ed5c442a309c7749f43ebf4a.jpeg" width="64px"/><span>选项题1</span></div>
          <div><span>3.5</span></div>
          <div class="Answer_point"><span>1</span><span>30%</span></div>
          <div class="Answer_point"><span>2</span><span>40%</span></div>
          <div class="Answer_point"><span>3</span><span>50%</span></div>
        </li>
        <li>
          <div><img src="../../images/db/067653d3ed5c442a309c7749f43ebf4a.jpeg" width="64px"/><span>选项题1</span></div>
          <div><span>3.5</span></div>
          <div class="Answer_point"><span>1</span><span>30%</span></div>
          <div class="Answer_point"><span>2</span><span>40%</span></div>
          <div class="Answer_point"><span>3</span><span>50%</span></div>
        </li>
        <li>
          <div><img src="../../images/db/067653d3ed5c442a309c7749f43ebf4a.jpeg" width="64px"/><span>选项题1</span></div>
          <div><span>3.5</span></div>
          <div class="Answer_point"><span>1</span><span>30%</span></div>
          <div class="Answer_point"><span>2</span><span>40%</span></div>
          <div class="Answer_point"><span>3</span><span>50%</span></div>
        </li>
  </ul>
</div>