
<div id="publish" class="content-row">
  <div class="row-title">
    <h2>收集方案设置</h2>
    <button class="green"><i class="ic ic-rocket-f-w"></i><span>发布收集方案 1</span></button>
  </div>
  <form>
    <h3>问卷发行数（份）：</h3>
    <input type="number" name="link" placeholder=""/><br/>
    <div class="select">
      <button class="dark select right-ic"><span>Brief Statement Or Account Of The Main Points Of Something</span><i class="ic ic-down-1w"></i></button>
      <ul class="option dark">
                <li><i class="ic ic-quota-w"></i><span>Brief Statement Or Account Of The Main Points Of Something</span><a class="box-button"><i class="ic ic-wrench-w"></i></a></li>
                <li><i class="ic ic-quota-w"></i><span>Brief Statement Or Account Of The Main Points Of Something</span><a class="box-button"><i class="ic ic-wrench-w"></i></a></li>
                <li><i class="ic ic-quota-w"></i><span>Brief Statement Or Account Of The Main Points Of Something</span><a class="box-button"><i class="ic ic-wrench-w"></i></a></li>
                <li><i class="ic ic-quota-w"></i><span>Brief Statement Or Account Of The Main Points Of Something</span><a class="box-button"><i class="ic ic-wrench-w"></i></a></li>
                <li><i class="ic ic-quota-w"></i><span>Brief Statement Or Account Of The Main Points Of Something</span><a class="box-button"><i class="ic ic-wrench-w"></i></a></li>
                <li><i class="ic ic-quota-w"></i><span>Brief Statement Or Account Of The Main Points Of Something</span><a class="box-button"><i class="ic ic-wrench-w"></i></a></li>
      </ul>
    </div>
    <mark class="form-message">Brief Statement Or Account Of The Main Points Of Something</mark>
    <p>
      You can upload images up to 256x256. Your avatar shows up in your public profile and your
      organization notifications.
    </p>
  </form>
  <form>
    <h3>设置调研时限（天）：</h3>
    <input type="number" name="link" placeholder=""/><br/>
    <div>
            <input id="checkboxG1" type="checkbox" name="checkboxG1" checked="" disabled="disabled" class="css-checkbox"/>
            <label for="checkboxG1" class="checkbox-label">无时限至集满配额</label>
    </div>
    <mark class="form-message">Brief Statement Or Account Of The Main Points Of Something</mark>
    <p>
      You can upload images up to 256x256. Your avatar shows up in your public profile and your
      organization notifications.
    </p>
  </form>
  <form>
    <div>
            <input id="radio1" type="radio" name="radio1" class="css-checkbox"/>
            <label for="radio1" class="radio-label radGroup1">直接发布</label>
    </div>
    <div>
            <input id="radio2" type="radio" name="radio2" checked="disabled" class="css-checkbox"/>
            <label for="radio2" class="radio-label radGroup1">计划发布</label>
    </div>
    <input id="datetimepicker" type="text" name="link" placeholder=""/><br/>
    <mark class="form-message">Brief Statement Or Account Of The Main Points Of Something</mark>
    <p>
      You can upload images up to 256x256. Your avatar shows up in your public profile and your
      organization notifications.
    </p>
  </form>
  <form>
    <div>
            <input id="radio3" type="radio" name="radio3" class="css-checkbox"/>
            <label for="radio3" class="radio-label radGroup1">每个终端只允许一次回复</label>
    </div>
    <div>
            <input id="radio4" type="radio" name="radio4" class="css-checkbox"/>
            <label for="radio4" class="radio-label radGroup1">每个终端允许多次回覆（建议用于落地调研、电脑实验室或手动输入资料）</label>
    </div>
  </form>
  <form>
    <div>
            <input id="checkboxG2" type="checkbox" name="checkboxG2" class="css-checkbox"/>
            <label for="checkboxG2" class="checkbox-label">调查问卷中的问题被回复之后进入下一题，受访者将无法返回并变更之前的回覆。</label>
    </div>
  </form>
  <form>
    <div>
            <input id="checkboxG3" type="checkbox" name="checkboxG3" class="css-checkbox"/>
            <label for="checkboxG3" class="checkbox-label">设置带参链接kbox文字</label>
    </div>
    <p>备注文字：在发布的链接后增加参数，可通过指定不同的参数值回收特定的信息（常用于回收答卷者信息），例：http://q.cform.io/?6Nveye&key=Tom</p>
  </form>
</div>