
<div id="collection" class="content-row">
  <div class="row-title">
    <h2>渠道设置</h2>
    <button class="blue"><i class="ic ic-plus-w"></i><span>添加收集渠道</span></button>
  </div>
  <div class="tabs tabs-style-sub">
    <nav>
      <ul>
        <li class="sub-tab-current"><span>微信</span></li>
        <li><span>微博</span></li>
        <li><span>微博</span></li>
      </ul>
      <div class="dropdown-event">
                <ul class="floating strip">
                  <li>选中收集方案操作：</li>
                  <li>复制</li>
                  <li>重命名</li>
                  <li></li>
                </ul><a class="box-button setup"><i class="ic ic-wrench-d"></i></a>
      </div>
    </nav>
    <div class="collection">
      <form>
        <div>
                    <input id="checkboxG4" type="checkbox" name="checkboxG4" class="css-checkbox"/>
                    <label for="checkboxG4" class="checkbox-label">关注服务号的受访者，才能回复。</label>
        </div>
        <div>
                    <input id="checkboxG5" type="checkbox" name="checkboxG5" class="css-checkbox"/>
                    <label for="checkboxG5" class="checkbox-label">收集受访者的微信基础信息。</label>
        </div>
        <p>
          You can upload images up to 256x256. Your avatar shows up in your public profile
          and your
          organization notifications.
        </p>
      </form>
      <form>
        <h3>绑定微信服务号</h3>
                <input type="text" name="weichat" placeholder="名称：" readonly="true"/><br/>
                <mark class="form-message">
                  Brief Statement Or Account Of The Main Points Of
                  Something
                </mark>
                <input type="text" name="weichat" placeholder="APP ID" readonly="true"/><br/>
                <mark class="form-message">
                  Brief Statement Or Account Of The Main Points Of
                  Something
                </mark>
                <input type="text" name="weichat" placeholder="名称：" readonly="true"/><br/>
                <mark class="form-message">
                  Brief Statement Or Account Of The Main Points Of
                  Something
                </mark>
                <input type="text" name="weichat" placeholder="微信号：" readonly="true"/><br/>
                <mark class="form-message">
                  Brief Statement Or Account Of The Main Points Of
                  Something
                </mark>
                <input type="text" name="weichat" placeholder="APP Secret:" readonly="true"/><br/>
                <mark class="form-message">
                  Brief Statement Or Account Of The Main Points Of
                  Something
                </mark>
        <button class="gray"><span>验证并保存</span></button>
        <p>
          You can upload images up to 256x256. Your avatar shows up in your public profile
          and your
          organization notifications.
        </p>
      </form>
      <form>
        <div>配置 OAuth 域名：</div>
                <input type="text" name="weichat" placeholder="" readonly="true"/><br/>
                <mark class="form-message">
                  Brief Statement Or Account Of The Main Points Of
                  Something
                </mark>
        <button class="gray"><span>立即验证</span></button>
        <p>
          You can upload images up to 256x256. Your avatar shows up in your public profile
          and your
          organization notifications.
        </p>
      </form>
    </div>
  </div>
</div>