
<div id="web-link" class="content-row">
  <div class="row-title">
    <h2>发布地址</h2>
    <button class="red"><i class="ic ic-stop-w"></i><span>停止收集方案 1</span></button>
  </div>
  <form>
    <h3>Web 链接地址：</h3>
    <input type="text" name="link" placeholder="" readonly="true"/><br/>
    <h3>地址二维码：</h3><img src="../../images/db/12be78.jpg"/>
    <p>
      You can upload images up to 256x256. Your avatar shows up in your public profile and your
      organization notifications.
    </p>
  </form>
  <div data-tag="share_1" class="bdsharebuttonbox"><a data-cmd="weixin" class="bds_weixin"></a><a data-cmd="sqq" class="bds_sqq"></a><a data-cmd="tsina" class="bds_tsina"></a><a data-cmd="mail" class="bds_mail"></a></div>
</div>