
<button class="dark select right-ic"><span>Brief Statement Or Account Of The Main Points Of Something</span><i class="ic ic-down-1w"></i></button>
<ul class="option dark">
    <li><i class="ic ic-quota-w"></i><span>Brief Statement Or Account Of The Main Points Of Something</span><a class="box-button"><i class="ic ic-wrench-w"></i></a></li>
    <li><i class="ic ic-quota-w"></i><span>Brief Statement Or Account Of The Main Points Of Something</span><a class="box-button"><i class="ic ic-wrench-w"></i></a></li>
    <li><i class="ic ic-quota-w"></i><span>Brief Statement Or Account Of The Main Points Of Something</span><a class="box-button"><i class="ic ic-wrench-w"></i></a></li>
    <li><i class="ic ic-quota-w"></i><span>Brief Statement Or Account Of The Main Points Of Something</span><a class="box-button"><i class="ic ic-wrench-w"></i></a></li>
    <li><i class="ic ic-quota-w"></i><span>Brief Statement Or Account Of The Main Points Of Something</span><a class="box-button"><i class="ic ic-wrench-w"></i></a></li>
    <li><i class="ic ic-quota-w"></i><span>Brief Statement Or Account Of The Main Points Of Something</span><a class="box-button"><i class="ic ic-wrench-w"></i></a></li>
</ul>