
<button class="select right-ic"><span>Brief Statement Or Account Of The Main Points Of Something</span><i class="ic ic-down-1d"></i></button>
<ul class="option">
  <li>Brief Statement Or Account Of The Main Points Of Something</li>
  <li>Brief Statement Or Account Of The Main Points Of Something</li>
  <li>Brief Statement Or Account Of The Main Points Of Something</li>
  <li>Brief Statement Or Account Of The Main Points Of Something</li>
  <li>Brief Statement Or Account Of The Main Points Of Something</li>
  <li>Brief Statement Or Account Of The Main Points Of Something</li>
</ul>