.kit#media-kit
    .kit-title
        h3 图片库
        a.switch-buton
            span 锁定
            .switch
        a.bt-close-left-panel
            div
                i.ic.ic-close
    .kit-section.nano
        .kit-content.nano-content
            ul.kit-scroll-group
                mixin list(link)
                    li.media-item(class= link)
                        .nodes-progress
                            .nodes-progress-bar
                +list()
                +list('link')
                +list()
                +list()
                +list()
                +list()
                +list('link')
                +list()
                +list('link')
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
                +list()
        .nodes-col
            a.upload
                span 上 传
            div
                span example.jpg
                a
                    span 删除
                    i.ic-m.ic-trash
            div
                i.ic.ic-dimensions
                span 640 x 360 px
            div
                i.ic.ic-size
                span 124 kB
            .media-preview
                .link-button
                    ul
                        li 被以下节点所引用:
                        li 选择题1
                        li 选择题1
                        li 选择题1
                        li 选择题1
                        li 选择题1
                        li 选择题1
                    a
