ul
    li.ic-current
        i.chic.ic-hbar
    li
        i.chic.ic-vbar
    li
        i.chic.ic-stacked-hbar
    li
        i.chic.ic-stacked-vbar
    li
        i.chic.ic-pie
    li
        i.chic.ic-donut
    li
        i.chic.ic-line
    li
        i.chic.ic-area