.content-row.column
   .chart-view
      div
         span 受访者编号：1
         .dropdown-event
            button.small.right-ic
               span 编辑回复
               i.ic.ic-down-2d
            ul.dropdown.customize.right-ic
               li 编辑回复
               li 删除回复
         button.small
            span 导出