.content-row.column
    .chart-view
        div
            span 问题 1
            .dropdown-event
                button.small.right-ic
                    span 导出图表
                    i.ic.ic-down-2d
                ul.dropdown.customize.right-ic
                    li 导出资料
                    li 导出图表
            button.small
                span 自定义
        .tabs.tabs-style-sub.small
            include ../template/tabs-analyze-chart
            a.box-button
                i.ic.ic-question-mark-d
            include ../template/analyze-cq-view
        .chart-container
            h2 Create professional, responsive websites. Without any code.
            span 已回答：1 已略過：0 首次回复：2015/2/13 日期选择： 2015/2/7 至 2015/2/13
            img(src='../../images/db/chart.png')
        include ../template/analyze-answer-selection
    a.load-more.results_load_more
        span 加载更多...