ul.dropdown.accounts-settings
    li
        i.ic.ic-work
        | 用户设置
    li
        i.ic.ic-building-2d
        | 组织设置
    li
        i.ic.ic-star
        | 方案类型
    li
        i.ic.ic-megaphone-d
        | 更新通知
    li
        i.ic.ic-question-mark-d
        | 帮助中心
    li
        i.ic.ic-logout-d
        | 退出登录