ul.dropdown.accounts.right-ic
    li.dropdown-tips 切换用户
    li
        .ic-profile
        | Westercloud
        i.ic.ic-checkmark-b
    li
        .ic-profile.org
        | choices form
    li
        i.ic.ic-building-add-d
        | 创建新的组织
    li
        i.ic.ic-settings-d
        | 组织设置