mixin folder(folder)
    ul.dropdown.right-ic(class= folder)
        li.dropdown-tips 切换文件夹
        ul.overauto
            mixin list(list, checkmark)
                li
                    i.ic.ic-folder-d
                    = list
                    i(class= checkmark)
            +list('Drop Down Menus | CSS MenuMaker', 'ic ic-checkmark-b')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
            +list('Drop Down Menus | CSS MenuMaker')
        li
            i.ic.ic-add-folder-d
            | Drop Down Menus | CSS MenuMaker