mixin setting-row(title, add, empyt)
    .setting-row
        h2= title
            a.box-button
                i.ic.ic-question-mark-d
        span= add
            a.box-button.dark
                i.ic.ic-plus-w
        .sidebar-row
            p= empyt
            mark
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a(href='#') 了解详情 »