button.select.right-ic
    span Brief Statement Or Account Of The Main Points Of Something
    i.ic.ic-down-1d
ul.option
    li Brief Statement Or Account Of The Main Points Of Something
    li Brief Statement Or Account Of The Main Points Of Something
    li Brief Statement Or Account Of The Main Points Of Something
    li Brief Statement Or Account Of The Main Points Of Something
    li Brief Statement Or Account Of The Main Points Of Something
    li Brief Statement Or Account Of The Main Points Of Something