button.dark.select.right-ic
    span Brief Statement Or Account Of The Main Points Of Something
    i.ic.ic-down-1w
ul.option.dark
    mixin list()
        li
            i.ic.ic-quota-w
            span Brief Statement Or Account Of The Main Points Of Something
            a.box-button
                i.ic.ic-wrench-w
    +list()
    +list()
    +list()
    +list()
    +list()
    +list()