.shortcut
    a.box-button
        i.ic.ic-24-Transfer-f-24
    a.box-button
        i.ic.ic-eye-f-d
    a.box-button
        i.ic.ic-folder-f-d
    a.box-button
        i.ic.ic-multiple-documents-f-d
    a.box-button
        i.ic.ic-trash-f-d