mixin survey-column(color,icon)
    .survey-column
        .survey-item
            .open-design
                .status(class= color)
                    i.ic(class= icon)
                .survey-mask
                    .survey-operations
                        i.ic.ic-trash-w
                        i.ic.ic-multiple-documents-w
                        i.ic.ic-folder-w
                        i.ic.ic-rocket-f-w
                        i.ic.ic-eye-d-w
                    a.design-enter 设计问卷
                .survey-preview
            .collection-schedule
                .collection-progress.ellipsis
                    i.ic.ic-activity-g
                    span 回复数: 4534
                    .progress-bar
                a.box-button.settings
                    i.ic.ic-settings-d
        .survey-footer.ellipsis
            span Create professional, responsive websites. Without any code.
            div 2014-07-20 02:14