nav
    ul
        mixin tab(tab,current)
            li(class= current)
                span= tab
        +tab('账户摘要', '')
        +tab('方案类型', '')
        +tab('账单明细', '')
        +tab('邮箱设置', '')
        +tab('密码设置', 'tab-current')