.bg-image {
  background-image: url("#");
  /* iPhone 5 (portrait and landscape) */
  /* iPhone 6 (portrait and landscape) */
  /* iPhone 6 Plus (portrait) */
  /* Other smartphones with smaller screen (portrait and landscape) */
  /* iPads 1/2 iPad Mini (portrait and landscape) */
  /* iPad 3/4 (portrait and landscape) */
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .bg-image {
    background-image: url("#");
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .bg-image {
    background-image: url("#");
  }
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .bg-image {
    background-image: url("#");
  }
}
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: portrait) {
  .bg-image {
    background-image: url("#");
  }
}
@media only screen and (max-width: 319px) {
  .bg-image {
    background-image: url("#");
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .bg-image {
    background-image: url("#");
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .bg-image {
    background-image: url("#");
  }
}
body {
  padding: 4.8rem 0 !important;
  height: 100% !important;
  min-height: auto !important;
  background-size: 100%, cover !important;
}
@media (max-width: 767px) {
  body {
    padding: 3.2rem 0 !important;
    background-size: auto, cover !important;
  }
}
.wrap {
  height: auto !important;
  min-height: auto !important;
}
.stick {
  clear: none !important;
  padding-top: 0 !important;
  height: 4.8rem !important;
}
.attachment {
  width: 100% !important;
  height: auto !important;
}
.masonry-border:hover,
.choices-border:hover {
  box-shadow: 0px 0px 0px 1px #b6b6af inset !important;
  background-color: rgba(170, 170, 162, 0.03) !important;
}
.choices-input:hover,
.cs-skin-overlay:hover,
.choices-select:hover {
  border: 1px dashed ##Code2## !important;
}
.choices:hover > .label {
  color: ##Code5##;
}
.letter {
  display: none !important;
}
.label {
  padding-left: 0.75em !important;
}
.enter {
  display: none !important;
}
@media (max-width: 767px) {
  .button {
    width: 100% !important;
    float: none !important;
    margin-bottom: 9.6rem !important;
  }
}
.button:hover {
  background-color: ##Code3## !important;
}
.button:active {
  background-color: ##Code5## !important;
}
.button.return {
  display: none !important;
}
#back {
  display: none !important;
}
.copyright:hover {
  color: ##Code2## !important;
}
.copyright:active {
  color: ##Code5## !important;
}
@media (max-width: 767px) {
  .justify-fix {
    display: none !important;
  }
}
.masonry-item:hover .masonry-border {
  background-color: transparent !important;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .masonry-item {
    width: 100% !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .masonry-item {
    width: 100% !important;
  }
}
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: portrait) {
  .masonry-item {
    width: 50% !important;
  }
}
.masonry-con {
  padding: 1rem !important;
}
.rating {
  text-align: center !important;
  /*@media only screen and (min-width: 320px) and (max-width: 480px) {
    font-size: 4.8rem !important;
  }

  /!* iPhone 5 (portrait and landscape) *!/
  @media only screen and (min-width: 320px) and (max-width: 568px) {
    font-size: 5.6rem !important;
  }

  /!* iPhone 6 (portrait and landscape) *!/
  @media only screen and (min-width: 375px) and (max-width: 667px) {
    font-size: 6rem !important;
  }

  /!* iPhone 6 Plus (portrait) *!/
  @media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: portrait) {
    font-size: 6.4rem !important;
  }

  /!* Other smartphones with smaller screen (portrait and landscape) *!/
  @media only screen and (max-width: 319px) {
    font-size: 6.4rem !important;
  }

  /!* iPads 1/2 iPad Mini (portrait and landscape) *!/
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    font-size: 6.4rem !important;
  }

  /!* iPad 3/4 (portrait and landscape) *!/
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 6.4rem !important;
  }*/
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: ##Code3## !important;
}
input[type="range"]::-webkit-slider-thumb:active {
  background-color: ##Code5## !important;
}
