
<div id="ques-review" ng-click="ShowPopup($event)" ng-show="QList.Popupbackground==6" class="pop-ups">
  <div><i class="ic ic-eye-f-d"></i><span>问卷预览</span><a ng-click="CloseDiv()" class="box-button"><i class="ic ic-x-d"></i></a></div>
  <form class="ng-pristine ng-valid">
    <div><img id="QuesPreviewURl" src=""/></div>
    <button type="button" ng-click="downLoadQRCode()" ng-show="fasle" class="blue"><span>下载二维码</span></button>
    <mark class="form-message">当前链接为预览链接，不作为正式的问卷向他人发送。</mark>
    <div>
      <h3>问卷预览地址：</h3>
      <button type="button" class="dark"><span ng-show="false">复制链接</span></button><a id="QuesPreviewHref" href="" target="_blank" style="height:auto;" class="preViewLink"></a>
    </div>
  </form>
</div>