.pop-ups.medium
   div
      i.ic.ic-trash-f-d
      span 删除问卷
      a.box-button
         i.ic.ic-x-d
   form
      p 您的问卷、内容、页面和图像将被永久删除。如果您的问卷被分享在众研以外的渠道，链接也将随之失效，所有被收集的数据也将无法获取。
      h2
         | 请输入
         span 登录密码
         | 确认删除操作
      input(type='password', name='password', placeholder='')
      br
      mark.form-message Brief Statement Or Account Of The Main Points Of Something
      button.border
         span 取 消
      button.red
         span 删除问卷