.pop-ups
    div
        i.ic.ic-trash-f-d
        span 删除文件夹
        a.box-button
            i.ic.ic-x-d
    form
        p 删除文件夹不会影响文件夹中包含的问卷，问卷将移动至默认无文件夹归属位置。
        h3 选择要删除的文件夹：
        .select
            include ../template/select
        mark.form-message Brief Statement Or Account Of The Main Points Of Something
        button.border
            span 取 消
        button.red
            span 删 除