.pop-ups
   div
      i.ic.ic-folder-f-d
      span 新建文件夹
      a.box-button
         i.ic.ic-x-d
   form
      h3 文件夹名称：
      input(type='text', name='name', placeholder='请输入文件夹名称')
      br
      mark.form-message Brief Statement Or Account Of The Main Points Of Something
      button.border
         span 取 消
      button.green
         span 新 建