#login_again.pop-ups
    div
        i.ic.ic-user-f
        span 重新登录
        a.box-button
            i.ic.ic-x-d
    form
        h3
            mark.form-message 登录超时,请重新登录!
        input(type='text', name='name', placeholder='注册邮箱')
        input(type='text', name='name', placeholder='密码')
        button.border
            span 取 消
        button.green
            span 重新登录