mixin title(title)
    title= title
    meta(http-equiv="Content-Type" charset="utf-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1")
    link(rel="stylesheet",type="text/css",href="../../css/normalize.css")
    link(rel="stylesheet",type="text/css",href="../../css/de-index.css")
    link(rel="stylesheet",type="text/css",href="../../css/de-chart.css")
    link(rel="stylesheet",type="text/css",href="../../css/colpick.css")
    link(rel="stylesheet",type="text/css",href="../../css/md-editor.css")
    link(rel="stylesheet",type="text/css",href="../../css/scroller.css")
    link(rel="shortcut icon",type="image/x-icon",href="../../images/favicon.ico")
    link(rel="apple-touch-icon",type="image/x-icon",href="../../images/cf.svg")
    script(type="text/javascript",src="../../script/lib/jquery.min.js")
    script(type="text/javascript",src="../../script/lib/angular.min.js")
    script(type="text/javascript",src="../../script/lib/sortable.js")
    script(type="text/javascript",src="../../script/lib/colpick.js")
    script(type="text/javascript",src="../../script/lib/scroller.js")
    script(type="text/javascript",src="../../script/lib/modernizr.js")
    script(type="application/javascript",src="../../script/lib/fastclick.js")