#toolbar
    a.small_tab.h-tips(value="Tooltip", name='0', ng-click="handleToggleNodeBoxClick();")
        i.ic.ic-nodes
    a.small_tab.h-tips(value="Tooltip", name='1')
        i.ic.ic-media
    a.small_tab.h-tips(value="Tooltip", name='2')
        i.ic.ic-preview
    a.small_tab.h-tips(value="Tooltip", name='3')
        i.ic.ic-gift
    a.small_tab.h-tips(value="Tooltip", name='4')
        i.ic.ic-printer
    a.additional
        i.ic.ic-tips-f
    .dropdown-item
        a.drop-but
            i.ic.ic-question-f
        //include ../popup/help-center.jade
        div(data-help-center="todo")