
@{
Layout = null;
}<!DOCTYPE html>
<html>
  <head>
    <title>&#24039;&#24605; choice form</title>
    <meta http-equiv="Content-Type" charset="utf-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="~/Css/db-index.css" rel="stylesheet">
    <script src="~/Script/lib/jquery.min.js"></script>
    <script src="~/Script/lib/fastclick.js"></script>
    <script src="~/Script/de/event/event.js"></script>
    <script src="~/Script/lib/modernizr.js"></script>
    <script type="text/javascript">
      $(function () {
          var type = '@Request.QueryString["type"]';
          if (type == "dashboard") {
              $("#SkipLink").attr("href", "/Home/DashBoard");
          }
          else {
              $("#SkipLink").attr("href", "/Home/Index");
          }
      })
      
    </script>
  </head>
  <body></body>
  <div id="error" class="center-wrapper">
    <div id="logo"><span>choice form</span><span>beta</span></div>
    <div>
      <p>404!</p><span>Document or file requested by the client was not found.</span><br><span>&#26381;&#21153;&#22120;&#26410;&#25214;&#21040;&#39029;&#38754;</span><br>
      <button class="blue"><i class="ic ic-left-2w"></i><span><a id="SkipLink" href="#">&#36820;&#22238;&#39318;&#39029;</a></span></button>
    </div>
  </div>
</html>