nav.nav
    .w-container
        .logo
            span choices form
            span beta
        a.menu-button
            i.ic.ic-menu-w
        .menu
            a.nav-current 我的调查问卷
            a 问卷模版
            a 教学
            a 方案与定价
            a 账户设置
            #accounts-settings.dropdown-event
                button.accounts-settings.right-ic
                    i.ic-profile
                    span 账户设置
                    i.ic.ic-down-2w
                include ../template/dropdown-accounts-settings
            .dropdown-event
                a.notifications
                    i.ic.ic-24-notifications
                ul.dropdown.notification-center
                    li 没有新通知
                    li 查看全部通知