
<nav class="nav">
  <div class="w-container">
    <div class="logo"><span>choices form</span><span>beta</span></div><a class="menu-button"><i class="ic ic-menu-w"></i></a>
    <div class="menu"><a class="nav-current">我的调查问卷</a><a>问卷模版</a><a>教学</a><a>方案与定价</a><a>账户设置</a>
      <div id="accounts-settings" class="dropdown-event">
        <button class="accounts-settings right-ic"><i class="ic-profile"></i><span>账户设置</span><i class="ic ic-down-2w"></i></button>
        <ul class="dropdown accounts-settings">
          <li><i class="ic ic-work"></i>用户设置</li>
          <li><i class="ic ic-building-2d"></i>组织设置</li>
          <li><i class="ic ic-star"></i>方案类型</li>
          <li><i class="ic ic-megaphone-d"></i>更新通知</li>
          <li><i class="ic ic-question-mark-d"></i>帮助中心</li>
          <li><i class="ic ic-logout-d"></i>退出登录</li>
        </ul>
      </div>
      <div class="dropdown-event"><a class="notifications"><i class="ic ic-24-notifications"></i></a>
        <ul class="dropdown notification-center">
          <li>没有新通知</li>
          <li>查看全部通知</li>
        </ul>
      </div>
    </div>
  </div>
</nav>