#markdown {
  width: 720px;
  /*
::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-left: 1px solid #fff
}

::-webkit-scrollbar-thumb {
    background-color: #ccc
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa
}*/
  /* preview
  --------------------*/
}
#markdown p {
  color: #393939;
}
#markdown img {
  max-width: 100%;
}
#markdown h1,
#markdown h2,
#markdown h3,
#markdown h4,
#markdown h5,
#markdown h6 {
  color: #393939;
}
#markdown h4,
#markdown h5,
#markdown h6 {
  font-weight: bold;
}
#markdown h1 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}
@media (max-width: 767px) {
  #markdown h1 {
    font-size: 22px;
  }
}
#markdown h2 {
  margin: 0;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}
@media (max-width: 767px) {
  #markdown h2 {
    font-size: 20px;
  }
}
#markdown h3,
#markdown h4,
#markdown h5,
#markdown h6 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
#markdown blockquote {
  color: #5940aa;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #5940aa solid;
}
#markdown hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}
#markdown pre,
#markdown code {
  font-size: 1em;
  border-radius: 2px;
  background-color: #f8f8f8;
}
#markdown pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: .5rem;
}
#markdown pre code {
  border: 0px !important;
  background: transparent !important;
  line-height: 1.3em;
}
#markdown code {
  padding: 0 .3rem;
}
#markdown sub,
#markdown sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#markdown sup {
  top: -0.5em;
}
#markdown sub {
  bottom: -0.25em;
}
#markdown ul {
  margin: 1em 0;
  padding: 0 0 0 2em;
  list-style: disc;
  color: #747474;
}
#markdown ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
  list-style: decimal;
  color: #747474;
}
#markdown li p:last-child {
  margin: 0;
}
#markdown dd {
  margin: 0 0 0 2em;
}
#markdown img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
#markdown table {
  border-collapse: collapse;
  border-spacing: 0;
}
#markdown td,
#markdown th {
  vertical-align: top;
  padding: 4px 10px;
  border: 1px solid #bbb;
}
#markdown tr:nth-child(even) td,
#markdown tr:nth-child(even) th {
  background: #eee;
}
#markdown .isApple {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  display: block;
  box-sizing: border-box;
  background: #ffffff;
  height: 100% !important;
  width: 100% !important;
  border: 0px solid #888686 !important;
  overflow: hidden;
  border-radius: 0 !important;
  box-shadow: none !important;
}
#markdown .bar {
  display: block;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 30px;
}
#markdown .close_window {
  text-decoration: none;
  font-family: verdana;
  color: #236cee;
  float: right;
  margin-right: 5px;
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 2;
  display: block;
}
#markdown #cke_editor-area {
  border: none;
  outline: none;
  box-shadow: none;
}
#markdown .drag {
  display: inline-block;
  width: 96%;
  padding: 0;
  margin: 0;
  height: 30px;
  float: left;
}
#markdown .inner {
  display: block;
  width: 100%;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
#markdown .editor-control {
  padding: 8px;
}
#markdown .editor-control > a {
  color: #d7d7d7;
  padding: 0 8px;
  margin: 0;
  display: inline;
  font-size: 12px;
  text-transform: uppercase;
}
#markdown .editor-control > a:hover {
  color: #1894f2;
}
#markdown .editor-control > a:last-of-type {
  float: right;
}
#markdown .editor {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#markdown .editor .editor-area {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  resize: none;
  height: 480px;
}
#markdown span.editor-divider {
  background: #393939;
  width: 1px;
  height: 1px;
  padding: 1px;
  margin: 0 8px;
}
#markdown .result {
  position: absolute;
  top: 38px;
  display: block;
  border: none;
  overflow: auto;
  visibility: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
#markdown .result img {
  display: block;
  width: 100%;
}
#markdown .show {
  visibility: visible !important;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
#markdown #eye {
  border-radius: 3px;
  text-align: center;
  padding: 5px 16px;
  background-color: #5f5f5f;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.08));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.08));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.08));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.08));
  background-image: linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.08));
  box-shadow: #393939 0 0 0 1px inset;
  -webkit-box-shadow: #393939 0 0 0 1px inset;
}
#markdown #eye:hover {
  background-color: #747474;
}
#markdown .active {
  background-color: #1894f2 !important;
  color: #fff !important;
}
#markdown .result pre,
#markdown .result code,
#markdown .result kbd {
  background: #5940aa;
  border-color: transparent;
  color: #ffffff;
}
#markdown .result code,
#markdown .result kbd {
  padding: 1px 5px;
}
#markdown .result pre {
  padding: 1em;
  overflow-x: auto;
  word-wrap: normal;
  font-size: 16px;
}
#markdown .result pre .highlight {
  background: #d7d7d7;
}
#markdown .result pre code {
  padding: 0;
}
#markdown .result blockquote {
  border-left: 5px solid #e7e7e7;
  margin: 1em 0;
  padding-left: 10px;
}
#markdown .result hr {
  border: 0;
  border-top: 1px solid #e7e7e7;
}
#markdown .result table {
  border-collapse: collapse;
  border-spacing: 0;
}
#markdown .result table thead {
  border-bottom: 2px solid #e7e7e7;
}
#markdown .result table tbody tr:nth-child(2n) {
  background-color: #f8f8f8;
}
#markdown .result table th,
#markdown .result table td {
  padding: 6px 13px;
  border: 1px solid #e7e7e7;
}
#markdown .result table th {
  font-weight: bold;
}
#markdown .result li p {
  margin: .5em 0;
}
#markdown a.text-bold {
  font-weight: bold;
}
#markdown a.text-italic {
  font-style: italic;
}
.custom-modal-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3000;
  transform-style: preserve-3d;
  background-color: rgba(0, 0, 0, 0.35);
}
.custom-modal {
  width: 400px;
  z-index: 3300;
  position: absolute;
  background-color: #4b4b4b;
  border-radius: 3px;
  border: 1px solid #252525;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px 0px;
  top: 50%;
  left: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px 0px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: from_top 0.3s 1 ease;
  animation: from_top 0.3s 1 ease;
}
@-webkit-keyframes from_top {
  0% {
    opacity: 0;
  }
}
@keyframes from_top {
  0% {
    opacity: 0;
  }
}
.custom-modal-action,
.custom-modal-content {
  float: left;
  width: 100%;
  padding: 16px;
}
.custom-modal button {
  background-color: #f7f7f7;
  color: #a3a3a3;
  border: 1px solid #efeaea;
  padding: 0.5em;
}
.custom-modal-action button {
  outline: none;
  border: none;
  background: none;
  padding: 8px 48px;
  float: left;
  border-radius: 3px;
  -webkit-transition: color 0.3s, background-color 0.3s, opacity 0.3s;
  transition: color 0.3s, background-color 0.3s, opacity 0.3s;
}
.custom-modal-action button > span {
  display: block;
}
.custom-modal-action button:nth-of-type(1) {
  box-shadow: #5f5f5f 0 0 0 1px inset;
  -webkit-box-shadow: #5f5f5f 0 0 0 1px inset;
}
.custom-modal-action button:nth-of-type(1):hover {
  background-color: rgba(57, 57, 57, 0.5);
  box-shadow: #747474 0 0 0 1px inset;
  -webkit-box-shadow: #747474 0 0 0 1px inset;
}
.custom-modal-action button:nth-of-type(2) {
  float: right;
  box-shadow: #393939 0 0 0 1px inset;
  -webkit-box-shadow: #393939 0 0 0 1px inset;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.08));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.08));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.08));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.08));
  background-image: linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.08));
}
.custom-modal-action button:nth-of-type(2):hover {
  background-color: #5f5f5f;
}
