.w-container
    .tabs.tabs-style
        .content-wrap
            div
                .content-row
                    .row-title
                        h2 密码设置
                        button.green(ng-disabled='!Password.pwdSubmitFlag', ng-click='pwsSetSubmit()')
                            i.ic.ic-2dot-w
                            span 保存更改
                    form(name='PWDCurrentForm')
                        h3 当前密码：
                        input(type='password', style='display:none')
                        input(type='password', name='password', placeholder='', ng-keydown='enter()', ng-model='Password.CurrentPwd', required='', ng-minlength='6', ng-maxlength='20', oninput='notifyTextLength(this,20)')
                        br
                        mark.form-message(ng-show='PWDCurrentForm.password.$dirty && PWDCurrentForm.password.$invalid && PWDCurrentForm.password.$error.required') 当前密码不能为空！
                        mark.form-message(ng-show='PWDCurrentForm.password.$dirty && PWDCurrentForm.password.$invalid && PWDCurrentForm.password.$error.minlength') 密码最少为6位！
                        mark.form-message(ng-show='PWDCurrentForm.password.$dirty && PWDCurrentForm.password.$invalid && PWDCurrentForm.password.$error.maxlength') 密码最多为20位！
                        p
                            | {{::UserPageText.Password_CurrentPwd}}
                    form(name='PWDNewForm')
                        h3 新密码：
                        input(type='password', style='display:none')
                        input(type='password', name='newpassword', placeholder='', ng-model='Password.NewPwd', ng-keydown='enter()', ng-change='pwdSubmitChange(PWDNewForm.$valid,PWDNewForm.newpassword.$dirty);ValidPwdConsistency(PWDNewForm.$valid,PWDNewForm.newpassword.$dirty)', required='', ng-minlength='6', ng-maxlength='20', oninput='notifyTextLength(this,20)')
                        br
                        mark.form-message(ng-show='PWDNewForm.newpassword.$dirty && PWDNewForm.newpassword.$invalid && PWDNewForm.newpassword.$error.required') 新密码不能为空！
                        mark.form-message(ng-show='PWDNewForm.newpassword.$dirty && PWDNewForm.newpassword.$invalid && PWDNewForm.newpassword.$error.minlength') 密码最少为6位！
                        mark.form-message(ng-show='PWDNewForm.newpassword.$dirty && PWDNewForm.newpassword.$invalid && PWDNewForm.newpassword.$error.maxlength') 密码最多为20位！
                        p
                            | {{::UserPageText.Password_NewPwd}}
                    form(name='PWDAgainForm')
                        h3 再次输入：
                        input(type='password', style='display:none')
                        input(type='password', name='verificationpassword', placeholder='', ng-model='Password.verificationpassword', ng-keydown='enter()', ng-change='ValidPwdConsistency(PWDAgainForm.$valid,PWDAgainForm.verificationpassword.$dirty)', required='', ng-minlength='6', ng-maxlength='20', oninput='notifyTextLength(this,20)')
                        br
                        mark.form-message(ng-show='PWDAgainForm.verificationpassword.$dirty && PWDAgainForm.verificationpassword.$invalid && PWDAgainForm.verificationpassword.$error.required') 再次输入密码不能为空！
                        mark.form-message(ng-show='PWDAgainForm.verificationpassword.$dirty && PWDAgainForm.verificationpassword.$invalid && PWDAgainForm.verificationpassword.$error.minlength') 密码最少为6位！
                        mark.form-message(ng-show='PWDAgainForm.verificationpassword.$dirty && PWDAgainForm.verificationpassword.$invalid && PWDAgainForm.verificationpassword.$error.maxlength') 密码最多为20位！
                        mark.form-message(ng-show='Password.SomeFlag') 两次输入的密码不一致！
                        p
                            | {{::UserPageText.Password_NewPwdAgain}}