
<div class="w-container">
  <div class="tabs tabs-style">
    <div class="content-wrap">
      <div>
        <div class="content-row">
          <div class="row-title">
            <h2>密码设置</h2>
            <button ng-disabled="!Password.pwdSubmitFlag" ng-click="pwsSetSubmit()" class="green"><i class="ic ic-2dot-w"></i><span>保存更改</span></button>
          </div>
          <form name="PWDCurrentForm">
            <h3>当前密码：</h3>
            <input type="password" style="display:none"/>
            <input type="password" name="password" placeholder="" ng-keydown="enter()" ng-model="Password.CurrentPwd" required="" ng-minlength="6" ng-maxlength="20" oninput="notifyTextLength(this,20)"/><br/>
            <mark ng-show="PWDCurrentForm.password.$dirty &amp;&amp; PWDCurrentForm.password.$invalid &amp;&amp; PWDCurrentForm.password.$error.required" class="form-message">当前密码不能为空！</mark>
            <mark ng-show="PWDCurrentForm.password.$dirty &amp;&amp; PWDCurrentForm.password.$invalid &amp;&amp; PWDCurrentForm.password.$error.minlength" class="form-message">密码最少为6位！</mark>
            <mark ng-show="PWDCurrentForm.password.$dirty &amp;&amp; PWDCurrentForm.password.$invalid &amp;&amp; PWDCurrentForm.password.$error.maxlength" class="form-message">密码最多为20位！</mark>
            <p>{{::UserPageText.Password_CurrentPwd}}</p>
          </form>
          <form name="PWDNewForm">
            <h3>新密码：</h3>
            <input type="password" style="display:none"/>
            <input type="password" name="newpassword" placeholder="" ng-model="Password.NewPwd" ng-keydown="enter()" ng-change="pwdSubmitChange(PWDNewForm.$valid,PWDNewForm.newpassword.$dirty);ValidPwdConsistency(PWDNewForm.$valid,PWDNewForm.newpassword.$dirty)" required="" ng-minlength="6" ng-maxlength="20" oninput="notifyTextLength(this,20)"/><br/>
            <mark ng-show="PWDNewForm.newpassword.$dirty &amp;&amp; PWDNewForm.newpassword.$invalid &amp;&amp; PWDNewForm.newpassword.$error.required" class="form-message">新密码不能为空！</mark>
            <mark ng-show="PWDNewForm.newpassword.$dirty &amp;&amp; PWDNewForm.newpassword.$invalid &amp;&amp; PWDNewForm.newpassword.$error.minlength" class="form-message">密码最少为6位！</mark>
            <mark ng-show="PWDNewForm.newpassword.$dirty &amp;&amp; PWDNewForm.newpassword.$invalid &amp;&amp; PWDNewForm.newpassword.$error.maxlength" class="form-message">密码最多为20位！</mark>
            <p>{{::UserPageText.Password_NewPwd}}</p>
          </form>
          <form name="PWDAgainForm">
            <h3>再次输入：</h3>
            <input type="password" style="display:none"/>
            <input type="password" name="verificationpassword" placeholder="" ng-model="Password.verificationpassword" ng-keydown="enter()" ng-change="ValidPwdConsistency(PWDAgainForm.$valid,PWDAgainForm.verificationpassword.$dirty)" required="" ng-minlength="6" ng-maxlength="20" oninput="notifyTextLength(this,20)"/><br/>
            <mark ng-show="PWDAgainForm.verificationpassword.$dirty &amp;&amp; PWDAgainForm.verificationpassword.$invalid &amp;&amp; PWDAgainForm.verificationpassword.$error.required" class="form-message">再次输入密码不能为空！</mark>
            <mark ng-show="PWDAgainForm.verificationpassword.$dirty &amp;&amp; PWDAgainForm.verificationpassword.$invalid &amp;&amp; PWDAgainForm.verificationpassword.$error.minlength" class="form-message">密码最少为6位！</mark>
            <mark ng-show="PWDAgainForm.verificationpassword.$dirty &amp;&amp; PWDAgainForm.verificationpassword.$invalid &amp;&amp; PWDAgainForm.verificationpassword.$error.maxlength" class="form-message">密码最多为20位！</mark>
            <mark ng-show="Password.SomeFlag" class="form-message">两次输入的密码不一致！</mark>
            <p>{{::UserPageText.Password_NewPwdAgain}}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>