
<ul id="options">
    <li>
      <div class="options-item">
        <input type="text" placeholder="01" class="input-num"/>
        <div class="options-input">
          <textarea type="text" placeholder="选项 1" class="dynamic_textarea"></textarea>
        </div>
        <div class="handle"><i class="drag-icon ic-m ic-drag"></i><a class="opt-delete"><i class="ic-m ic-trash"></i></a></div>
        <div class="media-content">
          <div class="select-itme">
            <div class="select"><i class="ic ic-expand-more"></i><span>placeholder</span></div>
            <div class="sel-options nano">
              <ul class="nano-content">
                <li>超能陆战队里面的大白超能陆战队里面的大白超能陆战队里面的大白超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
              </ul>
            </div>
          </div>
          <div class="pic-preview"></div>
        </div>
      </div>
    </li>
    <li>
      <div class="options-item">
        <input type="text" placeholder="01" class="input-num"/>
        <div class="options-input">
          <textarea type="text" placeholder="选项 2" class="dynamic_textarea"></textarea>
        </div>
        <div class="handle"><i class="drag-icon ic-m ic-drag"></i><a class="opt-delete"><i class="ic-m ic-trash"></i></a></div>
        <div class="media-content">
          <div class="select-itme">
            <div class="select"><i class="ic ic-expand-more"></i><span>placeholder</span></div>
            <div class="sel-options nano">
              <ul class="nano-content">
                <li>超能陆战队里面的大白超能陆战队里面的大白超能陆战队里面的大白超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
              </ul>
            </div>
          </div>
          <div class="pic-preview"></div>
        </div>
      </div>
    </li>
    <li>
      <div class="options-item">
        <input type="text" placeholder="01" class="input-num"/>
        <div class="options-input">
          <textarea type="text" placeholder="选项 3" class="dynamic_textarea"></textarea>
        </div>
        <div class="handle"><i class="drag-icon ic-m ic-drag"></i><a class="opt-delete"><i class="ic-m ic-trash"></i></a></div>
        <div class="media-content">
          <div class="select-itme">
            <div class="select"><i class="ic ic-expand-more"></i><span>placeholder</span></div>
            <div class="sel-options nano">
              <ul class="nano-content">
                <li>超能陆战队里面的大白超能陆战队里面的大白超能陆战队里面的大白超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
                <li>超能陆战队里面的大白</li>
              </ul>
            </div>
          </div>
          <div class="pic-preview"></div>
        </div>
      </div>
    </li>
</ul>