
<div class="select-itme">
  <div class="select"><i class="ic ic-expand-more"></i><span>placeholder</span></div>
  <div class="sel-options nano">
    <ul class="nano-content">
      <li>超能陆战队里面的大白超能陆战队里面的大白超能陆战队里面的大白超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
      <li>超能陆战队里面的大白</li>
    </ul>
  </div>
</div>