h1 结束节点
section
   img(src='../../images/help/nd_end.png', alt='结束节点图例', width='200', height='auto')

section
   h2
      i.ic-checkmark-2
      | 基本设置

   h3 题目编号：
   p 结束节点的编号。例如，“Question1”、“题目1”、“Q1”等，也可以是一个用于统计工具分析的题目代码，例如，“701”等。

   h3 结束描述：
   p 问卷结束时的提示文字信息。

   h3 添加媒体：
   p
      | 为结束节点添加一幅图片。
      br
      |             点击后，结束节点基本设置中增加“媒体选项”，在“媒体选项”的下拉菜单中选择“添加图片”上传新的图片作为结束节点的图片，
      |             或者在下拉菜单中选择已上传的图片。
      br
      |             结束节点的图片也就是问卷的封底图片。

section
   h2
      i.ic-checkmark-2
      | 通用设置
   p 无：
   include help-mark
   +mark('一个问卷中可以有多个结束节点,对应不同的问卷结束情况。可以为这些结束节点设定不同的图片和文字，这样您的问卷就会呈现多种不同的面貌。')

section
   h2
      i.ic-link-4  相关链接:
   br
   a(href='glb_surveymanager.html', target='_blank')
      span 问卷管理中心
   br
   a(href='glb_designcenter.html', target='_blank')
      span 问卷编辑器使用入门（一）
   br
   a(href='glb_designcenter2.html', target='_blank')
      span 问卷编辑器使用入门（二）
   br
   a(href='glb_shortcutlist.html', target='_blank')
      span 快捷键清单



