h1 填空题节点
section
   img(src='../../images/help/nd_input.png', alt='填空题节点图例', width='200', height='auto')

section
    h2
        i.ic-checkmark-2
        | 基本设置
    h3 题目编号：
    p 填空题节点的编号。例如，“Question1”、“题目1”、“Q1”等，也可以是一个用于统计工具分析的题目代码，例如，“701”等。

    h3 问题描述：
    p 填空题的问题内容，例如，“请问您描述一下对本产品外观的整体评价？”。

    h3 添加媒体：
    p
       | 为填空题节点添加一幅图片。
       br
       |             点击后，空题基本设置中增加“媒体选项”，在“媒体选项”的下拉菜单中选择“添加图片”上传新的图片作为开始节点的图片，或者在下拉菜单中选择已上传的图片。

section
    h2
        i.ic-checkmark-2
        | 通用设置
    h3 必答题，须有答案：
    p 勾选后受访用户将无法跳过此题。默认为勾选。

    h3 对选项进行验证：：
       ul.list-style-ul
           li
               span 字数：只接受文字输入，设定可输入文字字数的上限和下限。
           li
               span 整数：只接受整数输入，设定可输入数值的上限和下限。
           li
               span 小数：只接受整数和小数输入，设定可输入数值的上限和下限。
           li
               span 日期：选择制定日期。
           li
               span 邮件地址：只接受邮件地址格式。
           li
               span 手机号码：只接受手机号码格式。

    h3 错误提示信息：
    p 在输入框中输入错误提示信息，当受访用户所填写的内容不符合验证设置时，提示用户输入正确的信息。

section
    h2
        i.ic-checkmark-2
        | 选项：
    p 填空题的备填项，例如，请输入您对本产品外观的看法。

    h3 添加选项：
    p 点击“添加选项”在选项列表的最后新增一个选项。

    h3 批量添加选项：
    p 点击“添加选项”右侧箭头，打开“批量添加选项”对话框。

   include help-mark
   +mark('鼠标点击并上下拖动选项右边拖曳把手可以改变选项的显示顺序。')

section
   h1
      i.ic-link-4  相关链接:
   br

   a(href='glb_surveymanager.html', target='_blank')
        span 问卷管理中心
   br
   a(href='glb_designcenter.html', target='_blank')
        span 问卷编辑器使用入门（一）
   br
   a(href='glb_designcenter2.html', target='_blank')
        span 问卷编辑器使用入门（二）
   br
   a(href='glb_shortcutlist.html', target='_blank')
        span 快捷键清单
