h1 快捷键清单
section
      h2
         i.ic-checkmark-2
         | 快捷键清单
      p 我们为您设计了完整的快捷键功能，熟练使用快捷键能大大提高创建问卷的速度。
      h3 Windows系统：
      ul.list-style-ul
         li
            span 放大问卷：Ctrl + ’+’
         li
            span 缩小问卷：Ctrl + ’-’
         br
         li
            span 拷贝节点：Ctrl + ’C’
         li
            span 粘贴节点：Ctrl + ’V’
         li
            span 复制节点：Ctrl + ’D’
         li
            span 剪切节点：Ctrl + ’X’
         li
            span 删除节点：Delete
         li
            span 断开节点所有路径：Ctrl + ’B’
         li
            span 选择所有节点：Ctrl + ’A’
         br
         li
            span 保存问卷：Ctrl + ’S’
         li
            span 保存问卷中间版本：Ctrl + Alt + ’S’
         li
            span Undo：Ctrl + ’Z’
         li
            span Redo：Ctrl + ’Y’
         br
         li
            span 框选节点：Ctrl + 拖曳鼠标框选节点
         li
            span 选择多个节点：Ctrl + 鼠标点选节点
      h3 Mac系统：
      ul.list-style-ul
         li
            span 放大问卷：Cmd + ’+’
         li
            span 缩小问卷：Cmd + ’-’
         br
         li
            span 拷贝节点：Cmd + ’C’
         li
            span 粘贴节点：Cmd + ’V’
         li
            span 复制节点：Cmd + ’D’
         li
            span 剪切节点：Cmd + ’X’
         li
            span 删除节点：Backspace
         li
            span 断开节点所有路径：Cmd + ’B’
         li
            span 选择所有节点：Cmd + ’A’
         br
         li
            span 保存问卷：Cmd + ’S’
         li
            span 保存问卷中间版本：Cmd + Alt + ’S’
         li
            span Undo：Cmd + ’Z’
         li
            span Redo：Cmd + ’Y’
         br
         li
            span 框选节点：Cmd + 拖曳鼠标框选节点
         li
            span 选择多个节点：Cmd + 鼠标点选节点