h1 问卷管理中心
section
      p 登录后，您首先看到的是“问卷管理中心”。在这里，您可以创建和管理您的问卷和问卷文件夹。
      img(src='../../images/help/glb_wjglzx.png', alt='问卷管理中心图例', width='600', height='auto')

section
      h2
         i.ic-checkmark-2
         | 我的调查问卷
      p
         | “我的调查问卷”中存放了您账户下的所有问卷。
         br
         |             置顶显示的是“我的文件夹”中的所有文件，“我的文件夹”是系统为每位注册用户创建的默认文件夹。
         br
         |             “我的调查问卷”页面下方显示制定文件夹中的问卷，您可以切换显示不同文件夹显示问卷。

section
      h2
         i.ic-checkmark-2
         | 问卷排序
      p 鼠标移动到问卷排序下拉菜单，选择问卷的排序方式，问卷将以您所选的方式进行排序。
      img(src='../../images/help/glb_surveymanager_wjpx.png', alt='问卷管理中心图例', width='160', height='auto')
      h3 问卷排序方式：
      ul.list-style-ul
         li
            span 问卷创建时间：
            br
            span 按问卷创建时间进行排序，创建时间越近的问卷排序越靠前。
         li
            span 问卷修改时间：
            br
            span 按问卷修改时间进行排序，修改时间越近的问卷排序越靠前。
         li
            span 问卷状态：
            br
            span 按问卷状态进行排序。相同状态的问卷问卷按创建时间进行排序，创建时间越近的问卷排序越靠前。

section
      h2
         i.ic-checkmark-2
         | 问卷文件夹操作
      p 问卷文件夹用于整理、归类您的问卷，将同类型、或者有关联性的问卷存放在同一个文件夹中将有助于提高您的工作效率。
      img(src='../../images/help/glb_surveymanager_wjwjj.png', alt='问卷管理中心图例', width='200', height='auto')
      h3 选择问卷文件夹：
      p
         | 鼠标移动到“问卷文件夹“下拉菜单，下拉菜单显示了您所有文件夹目录。被勾选的文件夹是您当前选定的文件夹。 点选文件夹名称后，问卷显示区域切换显示该文件夹中的所有问卷。
      h3 创建新的问卷文件夹：
      p 点击后在对话框中输入新创建的文件夹名称，确定后创建新的文件夹。
      h3 问卷文件夹操作：
      p 鼠标移动到文件右侧扳手图标，显示问卷文件夹操作菜单，对问卷文件夹进行操作。
      img(src='../../images/help/glb_surveymanager_wjjcz.png', alt='问卷管理中心图例', width='220', height='auto')
      ul.list-style-ul
         li
            span 重命名：
            span 对文件夹重新命名。
         li
            span 删除：
            span 删除当前文件夹。
      mark
         i.ic-lightbulb-32
         strong 小贴士:
         | 被删文件夹中的问卷会移入“我的文件夹”中。删除文件夹不会删除您的问卷。

section
      h2
         i.ic-checkmark-2
         | 调查问卷
      p 问卷文件夹中存放的问卷以问卷卡片的形式展现，一份问卷卡片对应一份问卷。问卷卡片的由问卷配图、问卷状态标签、提交数量、问卷标题、修改日期等信息构成。
      img(src='../../images/help/glb_wjglzx_dywj.png', alt='问卷管理中心图例', width='400', height='auto')
      h3 问卷封面：
      p 问卷的标题图片，为问卷配置醒目的图片有助于提升您问卷的关注度，并提升问卷的形象。
      h3 问卷状态标签：
      p 每份问卷卡片右上角设有问卷状态标签，您可以直观地看到问卷的状态，有以下状态：
      ul.icon-ul
         li
            i.ic-brush-1.blue
            h3 创建设计：
            p 问卷尚处于创建设计阶段，还没有进行发布。
         li
            i.ic-time-1.purple
            h3 计划发布：
            p 问卷已经完成创建设计和发布设定，并设定了在未来某个日期自动发布问卷。
         li
            i.ic-rocket-1.green
            h3 发布在线：
            p 问卷已经处于发布在线阶段，您的受访者已经可以通过您设定的渠道回复问卷。
         li
            i.ic-checkmark-22.dark
            h3 已经完成：
            p 已经按您预先设定的条件完成了问卷回复的收集，问卷已经处于完成状态。
         li
            i.ic-pause-2.red
            h3 提前下线：
            p 基于您对需要，您已经手动停止问卷的回收工作。 当问卷处于提前下线状态时，您可以再次打开问卷，继续进行问卷的回收。
         li
            i.ic-lock-3.dark
            h3 系统锁定：
            p 如果您的问卷含有不适合在互联网上传播的内容，巧思会对问卷进行锁定，锁定后的问卷处于冻结状态，请您联系我们，在符合要求后我们会将问卷解锁。
      h3 问卷回收进度：
      p 问卷卡片下方进度条问卷回收的百分比进度，还显示了该问卷当前收到的回复提交总数。
      img(src='../../images/help/glb_surveymanager_wjhsjd.png', alt='问卷管理中心图例', width='500', height='auto')
      h3 问卷设定：
      p 点击问卷右下角“问卷设定”按钮，打开“问卷设定”页面对问卷进行发布、配额等设定。
      img(src='../../images/help/glb_surveymanager_wjsz.png', alt='问卷管理中心图例', width='240', height='auto')

section
      h2
         i.ic-checkmark-2
         | 问卷快捷操作
      p 移动鼠标到问卷卡片上后，在问卷题图上将会显示常用的问卷操作按钮。
      img(src='../../images/help/glb_surveymanager_wjkjcz.png', alt='问卷管理中心图例', width='500', height='auto')
      h3 快捷操作按钮：
      ul.icon-ul
         li
            i.ic-rocket-1.dark
            h3 发布设置：
            p 点击“发布设置”快捷操作按钮，对问卷的发布属性进行设置。
         li
            i.ic-eye-4.dark
            h3 问卷预览：
            p 点击“问卷预览”快捷操作按钮，预览当前问卷。
         li
            i.ic-folder-12.dark
            h3 移动问卷：
            p 点击“移动问卷”快捷操作按钮，随后选择目标文件夹，将当前问卷移动到指定文件夹。
         li
            i.ic-switch-window-1.dark
            h3 复制问卷：
            p 点击“复制问卷”快捷操作按钮，在当前文件夹中复制一份完全相同的问卷。
         li
            i.ic-trash-22.dark
            h3 删除问卷：
            p 点击“删除问卷”快捷操作按钮，删除当前问卷。

section
      h1
         i.ic-link-4  相关链接:
      br
      a(href='glb_quickstart.html', target='_blank')
         span 快速开始
      br
      a(href='glb_designcenter.html', target='_blank')
         span 问卷编辑器使用入门（一）
      br
      a(href='glb_designcenter2.html', target='_blank')
         span 问卷编辑器使用入门（二）