h1 分析结果
section
      p 问卷发布上线后，受访者开始提交问卷，分析结果页面给您带来全方位的问卷回收进程跟踪、问卷结果数据查看、问卷结果数据下载等功能。
      img(src='../../images/help/glb_data_progess.png', alt='分析结果图例', width='600', height='auto')

section
      h2
         i.ic-checkmark-2
         | 快速查看分析结果
      br
      p
         | 在问卷管理中心，问卷下方显示了问卷的回收数量和回收的整体进度条。您可以直观地看到每份问卷的回收情况。
         br
         | 也可以点击问卷回收进度条，进入问卷的分析结果页面，查看详尽的问卷结果数据。
      img(src='../../images/help/glb_surveymanager_wjhsjd.png', alt='分析结果图例', width='500', height='auto')

section
      h2
         i.ic-checkmark-2
         | 查看收集进度
      br
      h3 项目收集进度：
      p 以进度条形式呈现问卷回收的总体进度百分比。
      img(src='../../images/help/glb_data_xmsjjd.png', alt='分析结果图例', width='500', height='auto')
      h3 回复数：
      p 以柱状图形式呈现问卷回收期间每一天的收到的问卷提交数。
      img(src='../../images/help/glb_data_hfs.png', alt='分析结果图例', width='500', height='auto')
      p
         | 柱状图底部为时间轴，拖动时间轴上方的时间设定栏，改变柱状图的显示时间区间。也可以拖动时间设定栏的左、右边界改变图标显示的时间区间。
         | 时间区间改变的同时,图表自动刷新显示对应数据。

section
      h2
         i.ic-checkmark-2
         | 查看数据分析：
      br
      p 数据分析为您呈现了问卷中所有题目的详细数据分布情况，可以查看每一道题目、每一个选项已回收数据的分布情况。
      img(src='../../images/help/glb_data_sjfx.png', alt='分析结果图例', width='500', height='auto')
      h3 显示设置
      p 显示设置用于筛选问卷中哪些题目在数据图表中显示。您可以聚焦到最核心的数据。
      ul.list-style-ul
         li
            span 显示全部数据
         p 默认情况下，显示设置设定为显示问卷的全部数据。在图表视图中,显示问卷每一题每个选项的数据分布情况.
         | </>
         li
            span 显示筛选数据
         p 您可以通过筛选设置设定为感兴趣的数据，并保存筛选设置，便于数据图标视图的快速切换。
         p
            | 在显示设置中，点击图表视图中的 
            img(src='../../images/help/glb_data_jh.png', alt='分析结果图例', width='24', height='auto')
            |  按钮，显示问卷每一题每个选项的数据分布情况。
         img(src='../../images/help/glb_data_setview.png', alt='分析结果图例', width='200', height='auto')
         br
         p 点击后，界面显示当前问卷的所有题目列表，在列表里选择希望看到数据的题目。
         img(src='../../images/help/glb_data_syxx.png', alt='分析结果图例', width='200', height='auto')
         p 点击“应用”按钮在数据图表视图中生成所选问卷题目的数据图表。
         img(src='../../images/help/glb_data_singledata.png', alt='分析结果图例', width='500', height='auto')
         br
         p
            | 鼠标移动到视图名称后的 
            img(src='../../images/help/glb_data_tool.png', alt='分析结果图例', width='24', height='auto')
            |  按钮，弹出视图操作菜单
            img(src='../../images/help/glb_data_stcz.png', alt='分析结果图例', width='200', height='auto')
            | 菜单，点选按钮编辑筛选设置属性。
         br
         ul.list-style-ul
            li
               span 编辑：重新设定数据筛选条件。
            li
               span 重命名：重新明白数据筛选条件，例如“产品外观数据”、“用户喜好倾向数据”等更为直观和记忆的名称。
            li
               span 删除：删除该数据筛选设置。
         h3 输出结果
         p
            | 在显示设置中，选择一项数据筛选设置，随后点击输出结果中的 
            img(src='../../images/help/glb_data_jhl.png', alt='分析结果图例', width='24', height='auto')
            |  按钮，在结果输出列表中增加一项可下载存盘的数据结果文件。
         img(src='../../images/help/glb_data_scjg.png', alt='分析结果图例', width='200', height='auto')
         p
            | 在输出结果中，鼠标移动到输出结果名称后的 
            img(src='../../images/help/glb_data_tool.png', alt='分析结果图例', width='24', height='auto')
            |  按钮，在弹出菜单中选择操作数据结果文件。
         img(src='../../images/help/glb_data_scxxjg.png', alt='分析结果图例', width='200', height='auto')
         ul.list-style-ul
            li
               span 显示文件详情：显示该数据结果文件详情。
            li
               span 下载结果：下载该数据结果文件。
            li
               span 删除结果：删除该数据结果文件。

section
      h1
         i.ic-link-4  相关链接:
      br
      a(href='glb_quota.html', target='_blank')
         span 问卷配额
      br
      a(href='glb_survey_pub.html', target='_blank')
         span 问卷发布
      br
      a(href='glb_quickstart.html', target='_blank')
         span 快速开始
      br