h1 问卷发布
p 问卷设计完毕后，发布问卷，在问卷发布设置页面中对问卷的发布属性进行设置。
img(src='../../images/help/glb_survey_pub.png', alt='问卷发布图例', width='600', height='auto')

section
      h2
         i.ic-checkmark-2
         | 问卷状态信息
      p 问卷状态信息表明了该问卷当前所处的状态，以及剩余时间信息。问卷共有5种可能的状态，分别为：
      ul.icon-ul
         li
            i.ic-brush-1.blue
            h3 创建设计：
            p 问卷尚处于创建设计阶段，还没有进行发布。
         li
            i.ic-time-1.purple
            h3 计划发布：
            p 问卷已经完成创建设计和发布设定，并设定了在未来某个日期自动发布问卷。
         li
            i.ic-rocket-1.green
            h3 发布在线：
            p 问卷已经处于发布在线阶段，您的受访者已经可以通过您设定的渠道回复问卷。
         li
            i.ic-checkmark-22.dark
            h3 已经完成：
            p 已经按您预先设定的条件完成了问卷回复的收集，问卷已经处于完成状态。
         li
            i.ic-pause-2.red
            h3 提前下线：
            p 基于您对需要，您已经手动停止问卷的回收工作。 当问卷处于提前下线状态时，您可以再次打开问卷，继续进行问卷的回收。
         li
            i.ic-lock-3.dark
            h3 系统锁定：
            p 如果您的问卷含有不适合在互联网上传播的内容，巧思会对问卷进行锁定，锁定后的问卷处于冻结状态，请您联系我们，在符合要求后我们会将问卷解锁。

section
      h2
         i.ic-checkmark-2
         | 问卷收集方案
      p 收集方案显示了问卷发布后的 Web 链接地址和对应的地址二维码。
      ul.list-style-ul
         li
            span 问卷Web链接地址：问卷的 Web 链接地址，凭地址即可访问您的问卷。
         li
            span 问卷地址二维码：问卷的地址二维码，扫描即可访问您的问卷，也可以将二维码图片嵌入网站，或者转发给您的受访者，还可以印刷在其他截至上。
      h2
         i.ic-checkmark-2
         | 停止问卷收集方案
      p 某些情形下，您可能需要撤回问卷的发布状态，点击 停止收集方案 后，问卷状态改变为下线状态，此时可以对问卷进行编辑修改等操作。
      include help-mark
      +mark('问卷处于发布状态时无法进行编辑修改，必须先停止收集方案，才能进行编辑修改。修改问卷的发布属性时，也必须，必须先停止收集方案，才能进行编辑修改。')


section
      h2
         i.ic-checkmark-2
         | 问卷收集方案设置
      p 收集方案设置用于设定问卷发布的基本属性。
      ul.list-style-ul
         li
            span
               | 问卷发行数（份）：设置问卷的发放总数，默认为100份。或者在下拉列表中选取配额，从配额设定中直接设定问卷发行总数。
            include help-mark
            +mark('从配额设定中直接设定问卷发行总数之前，必须在配额设定页面中先设定该问卷的配额。')

         li
            span 设置调研时限（天）：设置问卷的收集时限。默认为30天。勾选“无期限直至集满配额”选项将不为问卷设定时限，当集满问卷发行数后问卷自动下线。
         li
            span 直接发布问卷：当问卷发布后，问卷的 Web 链接将直接生效。
         li
            span
               | 计划发布问卷：设定问卷的发布时间，当问卷发布后，满足设定发布时间的那一刻，问卷的 Web 链接才生效。用于在未来的某个指定时刻才生效的应用场合。
               br
               img(src='../../images/help/glb_survey_jhfb.png', alt='问卷发布图例', width='300', height='auto')
         li
            span 每个终端只允许一次回复：单个终端只能完成一次问卷。可避免单个重复提交数据。
         li
            span 每个终端允许多次回复：单个终端可以多次完成同一问卷。便于在落地调研、电脑终端等应用场合使用。
         li
            span
               | 设置带参链接：在发布的链接后增加参数 &key=，随后可通过不同的参数值回收特定的信息，例如用于您将问卷发送给您系统中的特定受访者。
               br
               | 如果您的企业客户管理系统中存有客户的信息，您希望通过自己的系统将问卷发放给客户，当问卷数据回收时您可以将客户与问卷精准匹配，
               | 精准地知道每一位客户回答问卷的具体情况。您只需按如下步骤进行简单的设置。
               br
               | 1：发布问卷，获得问卷 Web 链接。
               br
               | 2：在问卷Web链接后添加引号内的关键字“&key=”
               br
               | 3：此时，您应该得到类似 http://q.cform.io/?6Nveye&key= 的字符串。
               br
               | 4：最后，在您的系统中将上述字符串与您系统中需要跟踪的ID对接，比如您的用户 ID，最后您用看到的是一个特定的专属问卷链接。
               | 例如一个名为 Tom 的用户，将收到 http://q.cform.io/?6Nveye&key=Tom 的问卷链接。
               br
               | 5：当您的用户 Tom 完成问卷并提交后，您可以在问卷数据中准确找到Tom回答问卷的详细数据。
               br

section
      h2
         i.ic-checkmark-2
         | 问卷发布渠道设置
      p 巧思提供了多种问卷渠道，将在后续版本更新中陆续推出，您可以将问卷发放到这些渠道，并可以对这些渠道的发布分别设置不同的属性。
      h2
         i.ic-checkmark-2
         | 在微信上发布问卷
      p 通过设置，您可以将问卷直接发布到您的微信服务号中，还能收集服务号粉丝回答问卷的数据。
      ul.list-style-ul
         li
            span 收集受访者的微信基础信息：设定收集微信受访者的昵称、性别、城市等基本信息，受访者回答前需要微信号授权登录。
         img(src='../../images/help/glb_survey_fwh.png', alt='问卷发布图例', width='500', height='auto')
         li
            span
               | 绑定微信服务号：如果您希望发布的问卷直接通过您自己的微信服务号发放给您的粉丝，需要按如下步骤进行简单的微信服务号绑定设置。
               br
               | 1：在“微信公众平台>公众号设置”里查询您的微信号和名称，并填入页面的输入框。
               br
               | 2：在“微信公众平台>开发者中心”下查看您的 AppID 和 AppSecret ，并填入页面的输入框。
               br
               | 3：点击“验证并保存”按钮确认信息是否绑定正确。
               br
         li
            span
               | 配置 OAuth 域名：验证完毕后，OAuth 域名处会显示一个域名，随后按下列步骤完成配置工作。
               br
               | 1：登录微信公众平台。
               br
               | 2：进入“开发者中心>接口权限表>网页服务>网页账号>网页授权获取用户基本信息>修改“，在授权回调页面域名中粘贴左侧域名地址。
               br
               | 3：在微信中点击确认。
               br
               | 4：在发布设置页面中点击立即验证。
               br
      include help-mark
      +mark('该功能仅对微信服务号有效。')

section
      h1
         i.ic-link-4  相关链接:
      br
      a(href='glb_quota.html', target='_blank')
         span 问卷配额
      br
      a(href='glb_data_view.html', target='_blank')
         span 分析结果
      br
      a(href='glb_quickstart.html', target='_blank')
         span 快速开始
      br