h1 问卷设置
section
      h2
         i.ic-checkmark-2
         | 进入问卷设置页面
      p 在问卷管理中心页面，点击问卷右下角“问卷设定”按钮。
      img(src='../../images/help/glb_surveymanager_wjsz.png', alt='问卷管理中心图例', width='240', height='auto')
      p 打开“问卷设定”页面，可对问卷进行发布、配额、分析结果等设定。
      img(src='../../images/help/glb_settings.png', alt='问卷管理中心图例', width='600', height='auto')
      p
         | 点击问卷名称旁的
         img(src='../../images/help/btn_dashboard.png', alt='问卷管理中心图例', width='200', height='auto')
         |  “返回”按钮，返回问卷管理中心。

section
      h2
         i.ic-checkmark-2
         | 问卷操作工具栏
      p “问卷设定”顶端右侧设有问卷操作工具栏，可对当前问卷进行快速操作。
      img(src='../../images/help/btn_toolbar.png', alt='问卷管理中心图例', width='280', height='auto')
      ul.icon-ul
         li
            i.ic-eye-4.dark
            h3 问卷预览：
            p 点击“问卷预览”快捷操作按钮，预览当前问卷。
         li
            i.ic-folder-12.dark
            h3 移动问卷：
            p 点击“移动问卷”快捷操作按钮，随后选择目标文件夹，将当前问卷移动到指定文件夹。
         li
            i.ic-switch-window-1.dark
            h3 复制问卷：
            p 点击“复制问卷”快捷操作按钮，在当前文件夹中复制一份完全相同的问卷。
         li
            i.ic-trash-22.dark
            h3 删除问卷：
            p 点击“删除问卷”快捷操作按钮，删除当前问卷。
section
      h2
         i.ic-checkmark-2
         | 设计问卷
      p
         | 点击问卷操作工具栏右侧
         img(src='../../images/help/btn_shjwj.png', alt='问卷管理中心图例', width='130', height='auto')
         |  “设计问卷”按钮对当前问卷进行设计与编辑。
      img(src='../../images/help/glb_lvyouwj.png', alt='问卷管理中心图例', width='600', height='auto')

section
      h2
         i.ic-checkmark-2
         | 配额设定
      p 问卷配额设定可帮助您精准锁定目标群体，满足您各种严苛的问卷回收要求。配额设置页面中，您可以对问卷配额进行设定。

section
      h2
         i.ic-checkmark-2
         | 发布设定
      p 问卷设计完毕后，发布问卷，在问卷发布设置页面中对问卷的发布属性进行设置。

section
      h2
         i.ic-checkmark-2
         | 分析数据
      p 问卷发布上线后，受访者开始提交问卷，分析结果页面给您带来全方位的问卷回收进程跟踪、问卷结果数据查看、问卷结果数据下载等功能。

section
      h1
         i.ic-link-4  相关链接:
      br
      a(href='glb_quota.html', target='_blank')
         span 问卷配额
      br
      a(href='glb_data_view.html', target='_blank')
         span 分析结果
      br
      a(href='glb_survey_pub.html', target='_blank')
         span 问卷发布
      br
      a(href='glb_quickstart.html', target='_blank')
         span 快速开始
      br
      a(href='glb_surveymanager.html', target='_blank')
         span 问卷管理中心