.w-section.clients
   .w-container
      .w-slider(data-animation='slide', data-duration='500', data-infinite='1', data-delay='4000', data-autoplay='1')
         .w-slider-mask
            .w-slide
               img(src='../../images/ws/')
            .w-slide
               img(src='../../images/ws/')
            .w-slide
               img(src='../../images/ws/')
            .w-slide
               img(src='../../images/ws/')
            .w-slide
               img(src='../../images/ws/')
            .w-slide
               img(src='../../images/ws/')
            .w-slide
               img(src='../../images/ws/')
            .w-slide
               img(src='../../images/ws/')
            .w-slide
               img(src='../../images/ws/')
         .w-slider-arrow-left.left-arrow
            .w-icon-slider-left
         .w-slider-arrow-right.right-arrow
            .w-icon-slider-right