#facts.w-section.section.home.facts
   .w-container
      .div-fact
         h1 235
         span followers
      .div-fact
         h1 1980
         span LINES OF CODE
      .div-fact
         h1 221
         span happy clients
      .div-fact
         h1 365
         span projects