#features.w-section.section
   .w-container
      .title
         h2 设计，而非编写
         span designing rather than writing
         p 巧思独有的图形化问卷设计系统－nodes flow ，颠覆在线问卷编写创建方式。
            br
            | nodes flow 以流程图方式设计问卷，摆放题型节点创建问卷题目，拖动节点连线设定问卷跳转逻辑，操作简单快捷，菜鸟用户也能快速上手。nodes flow 直观展现问卷流程，方便查找、修改、归类，问卷逻辑清晰明了，再复杂的问卷也能轻松完成。
      img(src='../../images/ws/web-ui.png', width='940', data-ix='phone')
#function.w-section.section.function
   .w-container
      .w-row
         .w-col.w-col-6
            img.left-image(src='../../images/ws/web-ui-s1.png', width='1442', data-ix='show-up-from-left')
         .w-col.w-col-6
            h2 不仅功能强大，而且直观易用
            p 友好的操作界面整合众多问卷设计功能，常用工具栏、隐藏式面板、属性设定面板、媒体资源管理...通过对功能的分类梳理，带给您简洁、清晰的视觉感受和简单、易用的操作体验。
               br
               | Ctrl+S、Ctrl+C、Ctrl+V...操作快捷键、鹰眼视图等贴心功能加速问卷设计进程。
      .w-row
         .w-col.w-col-6
            h2 丰富的题型
            p 丰富的题型节点库、甄别节点库，满足各类调研问卷需求。以及选项逻辑运算、题目随机、题目循环、动态自定义变量等高级功能节点，轻松设计专业问卷。
         .w-col.w-col-6
            img(src='../../images/ws/web-ui-s2.png', width='1442', data-ix='show-up-from-right')
      .w-row
         .w-col.w-col-6
            img.left-image(src='../../images/ws/web-ui-s3.png', width='1442', data-ix='show-up-from-left')
         .w-col.w-col-6
            h2 实时预览
            p 问卷设计过程中，可对单个节点进行实时预览，把控问卷设计的每个重要细节。
               br
               | 问卷设计完毕后，支持对整个问卷的实时预览，所见即所得。