.w-section.footer
    .w-container
        a(href='#home')
            p.logo
                | choice form
                span beta
        div
            span 关于我们
            span 帮助中心
            span 法律条款
            span 联系我们
            p &copy; 2015,
               a choice form
               |  , Inc. All Rights Reserved.