#process.w-section.section.process
   .w-container
      .w-row
         .w-col.w-col-6
            h2 快速而高效的配额设置
            p 高度灵活的问卷配额设定满足您各种严苛的问卷回收要求，内置甄别节点库预设常用的甄别设置，降低问卷甄别设定难度，帮助您精准锁定目标群体。
            ul
               li
                  i.ic.ic-quota-c
                  span 交叉配额
               li
                  i.ic.ic-quota-n
                  span 非交叉配额
               li.quota-m
                  i.ic.ic-quota-m
                  span 多方案、多渠道自动配额合并
         .w-col.w-col-6
            img(src='../../images/ws/settings-quota.png', width='940', data-ix='show-up-from-right')
      .w-row
         .w-col.w-col-6
            h2 各种渠道齐集一堂
            p 巧思具备完善的问卷发布渠道，帮助您将调研问卷发布到各种主流渠道。还支持对不同渠道设定独立的配额，以更精准地进行问卷回收。
            ul
               li
                  i.ic.ic-weichat
                  span 微信
               li
                  i.ic.ic-weibo
                  span 微博
               li
                  i.ic.ic-mail
                  span 邮件
               li
                  i.ic.ic-www
                  span 网站
         .w-col.w-col-6
            img(src='../../images/ws/settings-publish.png', width='940', data-ix='show-up-from-right')
      .w-row
         .w-col.w-col-6
            h2 数据筛选、视图和下载
            p 问卷回收进程全程实时跟踪，实时数据视图一目了然。
               br
               | 各项问卷题目分布数据云端汇总统计，全面掌控调研问卷数据。
               br
               | 灵活的自定义数据筛选，帮助您聚焦最重要的数据。
            ul
               li
                  i.ic.ic-xls
               li
                  i.ic.ic-spss
               li
                  i.ic.ic-csv
            h3 多种数据格式下载。
         .w-col.w-col-6
            img(src='../../images/ws/data-trends.png', width='940', data-ix='show-up-from-right')