#screenshoots.w-section.section.screenshoots
   .w-container
      .title
         h2.dark-tittle 新平台，为新一代在线问卷打造
         span brandnew platform,brandnew online sruvery tool
      .w-slider.screenshoots-slider(data-animation='slide', data-duration='500', data-infinite='1', data-delay='2500', data-autoplay='1', data-easing='ease-out', data-nav-spacing='1')
         .w-slider-mask
            .w-slide.slider.screen
               img(src='../../images/ws/ip-screens-01.png', width='217')
            .w-slide.slider.screen
               img(src='../../images/ws/ip-screens-02.png', width='217')
            .w-slide.slider.screen
               img(src='../../images/ws/ip-screens-03.png', width='217')
            .w-slide.slider.screen
               img(src='../../images/ws/ip-screens-04.png', width='217')
            .w-slide.slider.screen
               img(src='../../images/ws/ip-screens-05.png', width='217')
            .w-slide.slider.screen
               img(src='../../images/ws/ip-screens-06.png', width='217')
            .w-slide.slider.screen
               img(src='../../images/ws/ip-screens-07.png', width='217')
            .w-slide.slider.screen
               img(src='../../images/ws/ip-screens-08.png', width='217')
            .w-slide.slider.screen
               img(src='../../images/ws/ip-screens-09.png', width='217')
            .w-slide.slider.screen
               img(src='../../images/ws/ip-screens-10.png', width='217')
            .w-slide.slider.screen
               img(src='../../images/ws/ip-screens-11.png', width='217')
            .w-slide.slider.screen
               img(src='../../images/ws/ip-screens-12.png', width='217')