#testimonials.w-section.section.testimonials
   .w-container(data-ix='testimonilas-show')
      .title
         h2.dark-tittle 褒奖
         span what they say
      .w-slider.testimonials-slider(data-animation='slide', data-duration='500', data-infinite='1', data-delay='2500', data-autoplay='1')
         .w-slider-mask
            .w-slide.slider.testimonials
               div
                  img(src='../../images/ws/man.png', width='95')
               p
                  | Maecenas ullamcorper, dui et placerat feugiat, eros pede varius
                  | nisi, condimentum viverra felis nunc et lorem. Aliquam lobortis. Nullam cursus lacinia erat.
                  | Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc!
                  br
                  br
                  strong &quot;Peter Novach&rdquo;
            .w-slide.slider.testimonials
               div
                  img(src='../../images/ws/female.png', width='95')
               p
                  | Maecenas ullamcorper, dui et placerat feugiat, eros pede varius
                  | nisi, condimentum viverra felis nunc et lorem. Aliquam lobortis. Nullam cursus lacinia erat.
                  | Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc!
                  br
                  br
                  strong &quot;Peter Novach&rdquo;
            .w-slide.slider.testimonials
               div
                  img(src='../../images/ws/man.png', width='95')
               p
                  | Maecenas ullamcorper, dui et placerat feugiat, eros pede varius
                  | nisi, condimentum viverra felis nunc et lorem. Aliquam lobortis. Nullam cursus lacinia erat.
                  | Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc!
                  br
                  br
                  strong &quot;Peter Novach&rdquo;