#theme.w-section.section.theme
   .w-container
      .w-row
         .w-col.w-col-7
            ul(data-ix='phone-2')
               li.sc-01
               li.sc-02
               li.sc-03
               li.sc-04
         .w-col.w-col-5
            h2 精于思，巧于形
            span delicate concept and wealth design
            p 多种多样的问卷皮肤模板，一键换肤，高颜值问卷拉近您与目标群体的距离。
               br
               br
               | 巧思支持 Markdown 标记语言，方便您自己设定问卷皮肤，更灵活地控制问卷显示效果，满足您高度个性化的需求。