
<div id="and-more" class="w-section section">
  <div class="w-container">
    <div class="title">
      <h2>越简便，越不简单...</h2><span>less is more</span>
    </div>
    <div class="w-row">
      <div data-ix="show-up-1" class="w-col w-col-4"><img src="../../images/ws/icon-nodes.png"/>
        <h3>可扩充题型库</h3>
        <p>除了内置20余款经典题型节点，我们还会不定期增加新题型节点。</p>
      </div>
      <div data-ix="show-up-2" class="w-col w-col-4"><img src="../../images/ws/Nodes.png"/>
        <h3>跳转逻辑清晰明了</h3>
        <p>nodes flow 图形化问卷设计新理念！拖节点，连线条，轻松设计复杂问卷。</p>
      </div>
      <div data-ix="show-up-3" class="w-col w-col-4"><img src="../../images/ws/logic-nodes.png"/>
        <h3>高级功能</h3>
        <p>题目循环、题目随机、选项逻辑运算...高级功能节点为专业问卷而设。</p>
      </div>
    </div>
    <div class="w-row">
      <div data-ix="show-up-1" class="w-col w-col-4"><img src="../../images/ws/custom-variables.png"/>
        <h3>支持动态自定义变量</h3>
        <p>在问卷内容中动态嵌入前题的选择答案，帮助您更精准地分析目标群体。</p>
      </div>
      <div data-ix="show-up-2" class="w-col w-col-4"><img src="../../images/ws/auto-save-versions.png"/>
        <h3>历史版本</h3>
        <p>问卷设计过程中可随时保存版本，当需要版本回溯时，可快速返回到所需的问卷设计阶段。</p>
      </div>
      <div data-ix="show-up-3" class="w-col w-col-4"><img src="../../images/ws/custom-theme.png"/>
        <h3>个性化问卷皮肤</h3>
        <p>可定制问卷皮肤，满足您的个性化需求。支持Markdown标记语言，还有什么不能变？</p>
      </div>
    </div>
    <div class="w-row">
      <div data-ix="show-up-1" class="w-col w-col-4"><img src="../../images/ws/quota.png"/>
        <h3>灵活的配额设定</h3>
        <p>交叉配额、非交叉配额、多方案多渠道自动配额合并等配额设定，助您精准锁定目标群体。</p>
      </div>
      <div data-ix="show-up-2" class="w-col w-col-4"><img src="../../images/ws/chart.png"/>
        <h3>问卷数据可视化展示</h3>
        <p>无图无真相，问卷数据可视化把真相送给你。数据筛选和数据下载用于深度数据统计分析。</p>
      </div>
      <div data-ix="show-up-3" class="w-col w-col-4"><img src="../../images/ws/organizations.png"/>
        <h3>支持企业账号</h3>
        <p>通过账号角色设定分配不同的企业目录和问卷权限，团队成员分工协作以及成果分享。</p>
      </div>
    </div>
  </div>
</div>