
<div class="w-section clients">
  <div class="w-container">
    <div data-animation="slide" data-duration="500" data-infinite="1" data-delay="4000" data-autoplay="1" class="w-slider">
      <div class="w-slider-mask">
        <div class="w-slide"><img src="../../images/ws/"/></div>
        <div class="w-slide"><img src="../../images/ws/"/></div>
        <div class="w-slide"><img src="../../images/ws/"/></div>
        <div class="w-slide"><img src="../../images/ws/"/></div>
        <div class="w-slide"><img src="../../images/ws/"/></div>
        <div class="w-slide"><img src="../../images/ws/"/></div>
        <div class="w-slide"><img src="../../images/ws/"/></div>
        <div class="w-slide"><img src="../../images/ws/"/></div>
        <div class="w-slide"><img src="../../images/ws/"/></div>
      </div>
      <div class="w-slider-arrow-left left-arrow">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right right-arrow">
        <div class="w-icon-slider-right"></div>
      </div>
    </div>
  </div>
</div>