
<div id="screenshoots" class="w-section section screenshoots">
  <div class="w-container">
    <div class="title">
      <h2 class="dark-tittle">新平台，为新一代在线问卷打造</h2><span>brandnew platform,brandnew online sruvery tool</span>
    </div>
    <div data-animation="slide" data-duration="500" data-infinite="1" data-delay="2500" data-autoplay="1" data-easing="ease-out" data-nav-spacing="1" class="w-slider screenshoots-slider">
      <div class="w-slider-mask">
        <div class="w-slide slider screen"><img src="../../images/ws/ip-screens-01.png" width="217"/></div>
        <div class="w-slide slider screen"><img src="../../images/ws/ip-screens-02.png" width="217"/></div>
        <div class="w-slide slider screen"><img src="../../images/ws/ip-screens-03.png" width="217"/></div>
        <div class="w-slide slider screen"><img src="../../images/ws/ip-screens-04.png" width="217"/></div>
        <div class="w-slide slider screen"><img src="../../images/ws/ip-screens-05.png" width="217"/></div>
        <div class="w-slide slider screen"><img src="../../images/ws/ip-screens-06.png" width="217"/></div>
        <div class="w-slide slider screen"><img src="../../images/ws/ip-screens-07.png" width="217"/></div>
        <div class="w-slide slider screen"><img src="../../images/ws/ip-screens-08.png" width="217"/></div>
        <div class="w-slide slider screen"><img src="../../images/ws/ip-screens-09.png" width="217"/></div>
        <div class="w-slide slider screen"><img src="../../images/ws/ip-screens-10.png" width="217"/></div>
        <div class="w-slide slider screen"><img src="../../images/ws/ip-screens-11.png" width="217"/></div>
        <div class="w-slide slider screen"><img src="../../images/ws/ip-screens-12.png" width="217"/></div>
      </div>
    </div>
  </div>
</div>