
<div id="testimonials" class="w-section section testimonials">
  <div data-ix="testimonilas-show" class="w-container">
    <div class="title">
      <h2 class="dark-tittle">褒奖</h2><span>what they say</span>
    </div>
    <div data-animation="slide" data-duration="500" data-infinite="1" data-delay="2500" data-autoplay="1" class="w-slider testimonials-slider">
      <div class="w-slider-mask">
        <div class="w-slide slider testimonials">
          <div><img src="../../images/ws/man.png" width="95"/></div>
          <p>
            Maecenas ullamcorper, dui et placerat feugiat, eros pede varius
            nisi, condimentum viverra felis nunc et lorem. Aliquam lobortis. Nullam cursus lacinia erat.
            Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc!<br/><br/><strong>&quot;Peter Novach&rdquo;</strong>
          </p>
        </div>
        <div class="w-slide slider testimonials">
          <div><img src="../../images/ws/female.png" width="95"/></div>
          <p>
            Maecenas ullamcorper, dui et placerat feugiat, eros pede varius
            nisi, condimentum viverra felis nunc et lorem. Aliquam lobortis. Nullam cursus lacinia erat.
            Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc!<br/><br/><strong>&quot;Peter Novach&rdquo;</strong>
          </p>
        </div>
        <div class="w-slide slider testimonials">
          <div><img src="../../images/ws/man.png" width="95"/></div>
          <p>
            Maecenas ullamcorper, dui et placerat feugiat, eros pede varius
            nisi, condimentum viverra felis nunc et lorem. Aliquam lobortis. Nullam cursus lacinia erat.
            Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc!<br/><br/><strong>&quot;Peter Novach&rdquo;</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>