div
    .w-tab-pane.w--tab-active.content-panel.border-silver.all-sides.radius-2px(data-w-tab='Backups')
        .content-panel-row
            .content-wrapper
                .w-clearfix
                    h4.float-left 备份和版本：
                .collector-form
                    p.margin-top-24px
                        | A backup restore point is created for your website every 20th auto-save or any time you press Cmd+Shift+S (or Ctrl+Shift+S on Windows). You can bring an older version of your website to life by clicking on "restore". Just in case, we save the current version of your website when you restore to a previous version.
            .content-wrapper
                .collector-form