#quota.content-wrap
   .content-row
      .row-title
         h2 配额设置
         //button.dark
            i.ic.ic-plus-w
            span 新建配额
         button#QuesQuotaDisabled.green(disabled='', ng-click='SaveQuota()')
            i.ic.ic-2dot-w
            span 保存更改
         button.red(ng-click='DelQuotaTable()')
            i.ic.ic-trash-w
            span 删除配额
      .too-small-alert
         p(style='color: #4e5b68;') 您的浏览器太小，要创建一个新的调查问卷，请调整浏览器至一个更大的屏幕分辨率。
   #div_quota_allWidth.quota
      #div_quota_sidebarWidth.sidebar(ng-show='QuesQuotaInfo.IsShowSidebar')
         .setting-row(ng-show='!QuesQuotaInfo.ShowRow')
            h2
               | 创建配额行
               a.box-button
                  i#quatoNoRowTips.ic.ic-question-mark-d(title='创建配额行')
            span
               | 添加配额组
               a.box-button.dark(ng-click="AddRowGroup('')")
                  i.ic.ic-plus-w(title='添加配额组')
            .sidebar-row
               // 配额侧栏-设置区块
               p 没有配额行条件
               mark
                  | 点击右上角加号添加配额组。
                  a 更多帮助 »
         .setting-row(ng-show='QuesQuotaInfo.ShowRow')
            h2
               | 创建配额行
               a.box-button
                  i#quatoHasRowTips.ic.ic-question-mark-d(title='创建配额行')
            span
               | 添加配额组
               a.box-button.dark(ng-click="AddRowGroup('')")
                  i.ic.ic-plus-w(title='添加配额组')
            .sidebar-row(ng-show='QuesQuotaInfo.ShowRow', ng-repeat='rgroup in QuesQuotaInfo.RowGroup')
               // 配额侧栏-设置区块
               span {{rgroup.Name}}
               .dropdown-event
                  ul.floating.strip.downul
                     li 操作：
                     li(ng-click='OpenEditName(rgroup)') 重命名
                     li(ng-click='DelGroup(rgroup,0)') 删除
                  a.box-button.setup.dropdown-bt
                     i.ic.ic-wrench-d
               span
                  | 添加条件
                  a.box-button.dark(ng-click='AddSelect(rgroup,3)')
                     i.ic.ic-plus-w(title='添加条件')
               .select(ng-repeat='GNodes in rgroup.Nodes', ng-mouseleave="GNodes.visibility={visibility:'hidden'}")
                  button.select.right-ic(ng-click="GNodes.visibility={visibility:'visible'}")
                     span {{GNodes.SelectName}}
                     i.ic.ic-down-1d
                  ul.option(style='z-index:1000;', ng-style='GNodes.visibility', ng-mouseleave="GNodes.visibility={visibility:'hidden'}")
                     li(ng-repeat='Node in GNodes.Nodes', ng-click='SelectNode(GNodes,Node.Title,Node.NodeID)')
                        | {{Node.Title}}
                  a.box-button(ng-click='DelSelect(GNodes.SortNo,rgroup.Nodes)')
                     i.ic.ic-trash-d(title='删除条件')
         .setting-row(ng-show='!QuesQuotaInfo.ShowCel')
            h2
               | 创建配额列
               a.box-button
                  i#quotaNoColTips.ic.ic-question-mark-d(title='创建配额列')
            span
               | 添加配额组
               a.box-button.dark(ng-click="AddCelGroup('')")
                  i.ic.ic-plus-w(title='添加配额组')
            .sidebar-row
               // 配额侧栏-设置区块
               p 没有配额列条件
               mark
                  | 点击右上角加号添加配额组。
                  a 更多帮助 »
         .setting-row(ng-show='QuesQuotaInfo.ShowCel')
            h2
               | 创建配额列
               a.box-button
                  i#quotaHasColTips.ic.ic-question-mark-d(title='创建配额列')
            span
               | 添加配额组
               a.box-button.dark(ng-click="AddCelGroup('')")
                  i.ic.ic-plus-w(title='添加配额组')
            .sidebar-row(ng-repeat='cgroup in QuesQuotaInfo.CelGroup')
               // 配额侧栏-设置区块
               span {{cgroup.Name}}
               .dropdown-event
                  ul.floating.strip.downul
                     li 操作：
                     li(ng-click='OpenEditName(cgroup)') 重命名
                     li(ng-click='DelGroup(cgroup,1)') 删除
                  a.box-button.setup.dropdown-bt
                     i.ic.ic-wrench-d
               span
                  | 添加条件
                  a.box-button.dark(ng-click='AddSelect(cgroup,2)')
                     i.ic.ic-plus-w(title='添加条件')
               .select(ng-repeat='GNodes in cgroup.Nodes', ng-mouseleave="GNodes.visibility={visibility:'hidden'}")
                  button.select.right-ic(ng-click="GNodes.visibility={visibility:'visible'}")
                     span {{GNodes.SelectName}}
                     i.ic.ic-down-1d
                  ul.option(style='z-index:1000;', ng-style='GNodes.visibility', ng-mouseleave="GNodes.visibility={visibility:'hidden'}")
                     li(ng-repeat='Node in GNodes.Nodes', ng-click='SelectNode(GNodes,Node.Title,Node.NodeID)')
                        | {{Node.Title}}
                  a.box-button(ng-click='DelSelect(GNodes.SortNo,cgroup.Nodes)')
                     i.ic.ic-trash-d(title='删除条件')
         button.dark(ng-click='CreateTable()', ng-show='QuesQuotaInfo.ShowCreateTableBtn')
            span 生成配额表格
      #div-quota-input-parent.grid-position(ng-show='QuesQuotaInfo.ShowTable', ng-style='QuesQuotaInfo.GridWidth')
         div
            a.box-button(ng-click='SetDivShow()')
               i.ic.ic-work
               span {{QuesQuotaInfo.ShowSet}}
         #div-quota-input
         #spanQuotaNum.total
            span 配额收集数合计：
input#IsChange(type='hidden', name='IsChange', value='0')
// @*配额变更状态*@
input#IsexisRow2(type='hidden', name='IsexisRow2', value='0')
// @*是否存在配额行2*@
.pop-ups-background(style='z-index:9000', ng-show='QuesQuotaInfo.Popupbackground!=0', ng-click='CloseDiv()')
   .pop-ups(ng-click='ShowPopup($event)', ng-show='QuesQuotaInfo.Popupbackground==1')
      div
         i.ic.ic-folder-d
         span 重命名配额组
         a.box-button(ng-click='CloseDiv()')
            i.ic.ic-x-d
      form#EditForm(name='EditForm', novalidate='')
         h3 名称：
         input#EditName(type='text', placeholder='请输入名称', name='EditName', ng-model='QuesQuotaInfo.SelectChangeName', required='', ng-maxlength='10', oninput='notifyTextLength(this, 10)')
         br
         mark.form-message(ng-show='EditForm.EditName.$dirty && EditForm.EditName.$invalid') 名称不可为空。
         button.border(ng-click='CloseDiv()')
            span 取 消
         button.blue(ng-click='EditQuotaName(EditForm.$valid)')
            span 重命名
